<!--Doctype-->
<%= erb :"global/bloques/doctype" %>

<!-- BEGIN HEAD CADU-->

<%= erb :"global/bloques/head" %>


<body class="c-layout-header-fixed c-layout-header-6-topbar" xmlns="http://www.w3.org/1999/html">
<!-- BEGIN: LAYOUT/HEADERS/HEADER-2 CADU -->
<!-- BEGIN: HEADER 2 -->
<%= erb :"global/bloques/header2" %>
<!-- END: HEADER 2 -->
<!-- END: LAYOUT/HEADERS/HEADER-2 CADU-->



<!-- BEGIN: LAYOUT/SIDEBARS/QUICK-SIDEBAR -->
<%= erb :"global/bloques/extra_sidebar" %>
<!-- END: LAYOUT/SIDEBARS/QUICK-SIDEBAR -->
<!-- BEGIN: PAGE CONTAINER -->
<div class="c-layout-page">
  <!-- BEGIN: PAGE CONTENT -->
  <!-- BEGIN: LAYOUT/SLIDERS/REVO-SLIDER-9 -->
      <!-- LayerSlider start -->
  <section class="slider-1">
      <div id="layerslider" style="width:100%;height:400px;top: 0">




        <!-- slider 1 -->
        <div class="ls-slide" data-ls="slidedelay: 7000; transition2d: 75,79;">


          <img src="/assets/cadu/images/portada/slider/slider3.jpg" class="ls-bg" alt="Slide background" style="width: 100%"/>

          <div class="ls-l h h4" style="
          top: 150px;
                  left: 50%;
                  color: #0157A0;
                  padding: 5px;
                  font-size: 44px;
          " data-ls="
					offsetxin: 0;
					offsetxout: 300;
					offsetyin: top;
					offsetyout: 300;
					durationin: 2000;
					durationout: 2000;
					delayin: 500;
					rotateyin: 60;
				"><h3 class="c-main-title c-font-bold c-font-uppercase c-font-naranja" style="text-align: center; margin: 0 auto;">
            <!-- <a href="http://cdn.investorcloud.net/cadu/Comunicados/2017-02-14-Invitacion-CC-4T16.pdf" target="_blank"> -->

          A business model based on  </br>profitability and supported by   <br/>a lean and dynamic structure
            <!-- Invitación a la Conferencia </br>Telefónica de Resultados</br> del
              Cuarto Trimestre de 2016 -->

          <!-- </a> -->

          </h3>

          </div>
        </div>
      </div>
      <!-- LayerSlider end -->

    <!--</div>-->
  <!--</section>-->
  </section>
  <!-- END: LAYOUT/SLIDERS/REVO-SLIDER-9 -->
  <!-- BEGIN: CONTENT/BARS/BAR-3 -->
  <div class="c-content-box c-size-cero c-bg-dark">
    <div class="container">
      <div class="c-content-bar-3">
        <div class="row">
          <div class="col-md-8 col-sm-8">
            <div class="c-content-title-1 al1">
              <!-- <h3 class="c-font-uppercase c-font-bold al1" style="font-size: 27px">Informe de Resultados 4T16</h3> -->
              <!-- <h3 class="c-font-uppercase c-font-bold al1" style="font-size: 27px">Informe de Resultados 4T16</h3> -->

              <h3 class="c-font-uppercase c-font-bold al1" style="font-size: 20px"> 3Q18 Conference Call 		&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; <button type="button" onclick="window.open('http://cdn.investorcloud.net/cadu/Comunicados/2018-10-19-CADU-Invitación-3T18-en.pdf','_blank'); ga('send', 'event','Inversionistas', 'Reportes trimestrales' ,'invitacion 1T17');" class="btn btn-sm c-btn-square c-btn-border-2x c-theme-btn c-btn-uppercase c-btn-bold">Download</button></h3>
              <h3 class="c-font-uppercase c-font-bold al1" style="font-size: 20px">Housing Projects in Mexico Valley 		&nbsp; 	&nbsp; 	&nbsp; 	&nbsp; 	&nbsp; 	&nbsp; 	&nbsp; 	&nbsp; 	&nbsp;<button type="button" onclick="window.open('http://cdn.investorcloud.net/cadu/Marketing/Vivienda-Media-CADU.pdf','_blank'); ga('send', 'event','Inversionistas', 'Reportes trimestrales' ,'invitacion 1T17');" class="btn btn-sm c-btn-square c-btn-border-2x c-theme-btn c-btn-uppercase c-btn-bold">Download</button></h3>

            <!--    <div class="c-content-v-center" style="height: 90px;">
                <div class="c-wrapper">
                  <div class="c-body">
                    <!-- <button type="button" onclick="window.open('http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesTrimestrales/Informes/2016-4T16.pdf','_blank'); ga('send', 'event','Inversionistas', 'Reportes trimestrales' ,'Reporte de resultados 4T16');" class="btn btn-md c-btn-square c-btn-border-2x c-theme-btn c-btn-uppercase c-btn-bold">Descargar</button> -->
                    <!-- <button type="button" onclick="window.open('http://cdn.investorcloud.net/cadu/Comunicados/2017-04-10-Invitacion-CC-1T17.pdf','_blank'); ga('send', 'event','Inversionistas', 'Reportes trimestrales' ,'invitacion 1T17');" class="btn btn-md c-btn-square c-btn-border-2x c-theme-btn c-btn-uppercase c-btn-bold">Descargar</button> -->

                    <!-- <button type="button" onclick="window.open('/es/video','_blank'); ga('send', 'event','Inversionistas', 'Reportes trimestrales' ,'Reporte de resultados 2T16');" class="btn btn-md c-btn-square c-btn-border-2x c-theme-btn c-btn-uppercase c-btn-bold"> <i class="fa fa-play-circle"></i> Video a inversionistas</button> -->

                  <!--   </div>
              <!--     </div>
            <!--     </div> -->
            </div>
          </div>
          <div class="col-md-4 col-sm-4">

            <div class="ticker-fp" id="portada-ticker">


              <div id="tikcer-fs-line">

                <div class="col-md-3 col-sm-3 hidden-xs">
                  <img src="/assets/cadu/images/portada/bmv2.png" style="width:119%" alt=""/>
                </div>
                <div class="col-md-9 col-sm-9 col-xs-12" style="color: #FFFFFF">
                  <span style="font-size: 24px; font-weight: 400;"> CADUA </span>
                  <span style="font-size: 22px;" id="price-ticker"> </span>
                  <!-- <span id="arrow-change" style="font-size: 15px;"></span> -->
                  <span style="font-size: 15px;" id="change-ticker">  </span>
                  <h6 class="ticker-data">Volume: <span id="volume-ticker">  </span></h6>
                  <h6 class="ticker-data">Min-Max: <span id="range-ticker"> </span></h6>
                  <h6 class="ticker-data"><span id="date-ticker" style="margin-left: 0px;"> </span></h6>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END: CONTENT/BARS/ -->
  <!-- BEGIN: CONTENT/MISC/ABOUT-3 -->
  <div class="c-content-box c-size-md c-bg-white">
    <div class="container ">
      <div class="c-content-title-1">
        <h3 class=" c-font-uppercase c-font-bold">Business Segments</h3>

        <div class="c-line-left c-theme-bg"></div>
      </div>
      <div class="row">
        <div class="col-sm-8 wow animate fadeInLeft espacio30">
          <div class="c-content-tab-4 c-opt-3" role="tabpanel">
            <ul class="nav nav-justified" role="tablist">
              <li role="presentation" class="active">
                <a href="/#tab-31" role="tab" data-toggle="tab" class="c-font-16">RESIDENTIAL </a>
              </li>
              <li role="presentation">
                <a href="/#tab-32" role="tab" data-toggle="tab" class="c-font-16">MIDDLE-INCOME</a>
              </li>
              <li role="presentation">
                <a href="/#tab-33" role="tab" data-toggle="tab" class="c-font-16">AFFORDABLE ENTRY-LEVEL</a>
              </li>
            </ul>
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane fade in active" id="tab-31">
                <ul class="c-tab-items">
                  <li class="row">
                    <div class="col-sm-3 hidden-xs">
                      <div class="c-photo">
                        <img class="img-responsive" width="150" height="100" src="/assets/cadu/images/content/cadurm.jpg" alt=""/>
                      </div>
                    </div>
                    <div class="col-sm-9 col-xs-12">
                      <p class="c-font-16">In this business segment, we are focused on the development and commercialization of housing projects with price ranges exceeding MXN 2.5 million. CADU initiated the selling process of the first residential housing prototypes during 2017, in Quintana Roo and Mexico Valley.</p>
                      <p class="c-font-16">Our product portfolio in this segment stands out from our competitors' offerings due to its original concept and premium amenities. Towards year-end 2018 and early 2019, the commercial operations at our “Allure” development are expected to begin, whose prices per home will be above the MXN 8 million mark, becoming an iconic housing project in Puerto Cancun, Quintana Roo.</p>
                    </div>
                  </li>
                </ul>
              </div>
              <div role="tabpanel" class="tab-pane fade" id="tab-32">
                <ul class="c-tab-items">
                  <li class="row">
                    <div class="col-sm-3 hidden-xs">
                      <div class="c-photo">
                        <img class="img-responsive" width="150" height="100" src="/assets/cadu/images/content/cadumedio.jpg" alt=""/>
                      </div>
                    </div>
                    <div class="col-sm-9 col-xs-12">
                      <p class="c-font-16">In this business segment, we are focused on the development and commercialization of housing projects with prices ranging from MXN 500,001 to MXN 2.5 million, mainly within the MXN 1.3 million to MXN 2.5 million range, in line with our strategy of maximizing the average sale price.</p>
                      <p class="c-font-16">Since 2007, CADU has actively participated in this segment, successfully completing a number of housing projects in the states of Quintana Roo and Jalisco, and always enjoying a good level of acceptance in its target market.</p>
                    </div>
                  </li>

                </ul>
              </div>
              <div role="tabpanel" class="tab-pane fade" id="tab-33">
                <ul class="c-tab-items">
                  <li class="row">
                    <div class="col-sm-3 hidden-xs">
                      <div class="c-photo">
                        <img class="img-responsive" width="150" height="100" src="/assets/cadu/images/content/cadu-is.jpg" alt=""/>
                      </div>
                    </div>
                    <div class="col-sm-9 col-xs-12">
                      <p class="c-font-16">In this business segment, we focus on housing projects with a price up to MXN 500,000, aimed at salaried workers who are buying their first home. Our projects pursue to promote integral and sustainable urban development in Mexico through an orderly growth, with optimum standards in:</p>
                    </div>
                  </li>
                  <li class="row">
                    <div class="col-sm-3 hidden-xs">

                    </div>
                    <div class=" list-is col-sm-9 col-xs-12">
                      <div class="row">
                        <div class="col-md-4 col-sm-5">
                          <ul class="c-content-list-1 c-theme c-separator-dot">
                            <li>Location </li>
                            <li>Densification </li>
                          </ul>
                        </div>
                        <div class="col-md-8 col-sm-7">
                          <ul class="c-content-list-1 c-theme c-separator-dot">
                            <li>Equipment </li>
                            <li>Sustainability</li>
                          </ul>
                        </div>
                      </div>

                    </div>
                  </li>

                </ul>
              </div>
            </div>
          </div>
        </div>

        <!-- datos -->


        <div class="col-sm-4 wow animate fadeInRight">
          <div class="row">
            <div class="col-md-6 c-font-uppercase c-font-bold">LTM Consolidated Revenue:</div>
            <div class="col-md-6 c-right c-font-uppercase c-font-bold">4,793 Million</div>
          </div>
          <div class="c-content-divider c-divider-sm c-right c-bg-red">
            <i class="icon-dot c-bg-red c-square"></i>
          </div>
          <div class="row">
            <div class="col-md-6 c-font-uppercase c-font-bold">LTM EBITDA:</div>
            <div class="col-md-6 c-right c-font-uppercase c-font-bold">1,119 Million</div>
          </div>
          <div class="c-content-divider c-divider-sm c-left c-bg-red">
            <i class="icon-dot c-bg-red c-square"></i>
          </div>
          <div class="row">
            <div class="col-md-6 c-font-uppercase c-font-bold">LTM Net Income:</div>
            <div class="col-md-6 c-right c-font-uppercase c-font-bold">833 Million</div>
          </div>
          <div class="c-content-divider c-divider-sm c-right c-bg-red">
            <i class="icon-dot c-bg-red c-square"></i>
          </div>
          <div class="row">
            <div class="col-md-6 c-font-uppercase c-font-bold">Total Debt / LTM EBITDA:</div>
            <div class="col-md-6 c-right c-font-uppercase c-font-bold">2.8x</div>
          </div>
          <div class="c-content-divider c-divider-sm c-left c-bg-red">
            <i class="icon-dot c-bg-red c-square"></i>
          </div>
            <p class="c-font-16">Figures in MXN at Sep 30, 2018</p>
        </div>

      </div>
    </div>
  </div>
  <!-- END: CONTENT/MISC/ABOUT-3 -->
  <!-- BEGIN: CONTENT/BLOG/RECENT-POSTS -->
  <div class="c-content-box c-size-cero c-bg-grey-1">
    <div class="container">
      <!-- Begin: Testimonals 1 component -->
      <div class="c-content-blog-post-card-1-slider" data-slider="owl" data-items="3" data-auto-play="8000">
        <!-- Begin: Title 1 component -->
        <div class="c-content-title-1">
          <h3 class="c-center c-font-uppercase c-font-bold">HIGHLIGHTS</h3>

          <div class="c-line-center c-theme-bg"></div>
        </div>
        <!-- End-->
        <!-- Begin: Owlcarousel -->
        <div class="owl-carousel owl-theme c-theme">
          <div class="item">
            <div class="c-content-blog-post-card-1 c-option-2">
              <div class="c-media c-content-overlay">
                <div class="c-overlay-wrapper">
                  <div class="c-overlay-content">
                    <a target="_blank" onclick="ga('send', 'event','Inversionistas', 'Reportes trimestrales Teleconferencia' ,'Reporte de resultados 3T18');" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesTrimestrales/Informes/2018-3T18-en.pdf">
                      <i class="icon-link"></i>
                    </a>

                  </div>
                </div>
                <img class="c-overlay-object img-responsive" src="/assets/cadu/images/content/Cadu-Informe-3T18.png" alt="">
              </div>
              <div class="c-body">
                <div class="c-title c-font-uppercase c-font-bold">
                  <a target="_blank" onclick="ga('send', 'event','Inversionistas', 'Reportes trimestrales Teleconferencia' ,'Reporte de resultados 3T18');" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesTrimestrales/Informes/2018-3T18-en.pdf">
                    3Q18 Earnings Release  </a>
                </div>
                <div class="c-author">
                  <!--<a href="#">-->
                  <!--<span class="c-font-uppercase">Mary Jane</span>-->
                  <!--</a> on-->
                  <span class="c-font-uppercase">Oct 2018</span>
                  <br> &nbsp;
                </div>

              </div>
            </div>
          </div>

          <div class="item">
            <div class="c-content-blog-post-card-1 c-option-2">
              <div class="c-media c-content-overlay">
                <div class="c-overlay-wrapper">
                  <div class="c-overlay-content">
                    <a target="_blank" onclick="ga('send', 'event','Inversionistas', 'Reportes trimestrales Teleconferencia' ,'Reporte de resultados 4T17');" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesTrimestrales/Informes/2018-2T18-en.pdf">
                      <i class="icon-link"></i>
                    </a>

                  </div>
                </div>
                <img class="c-overlay-object img-responsive" src="/assets/cadu/images/content/destacado2.jpg" alt="">
              </div>
              <div class="c-body">
                <div class="c-title c-font-uppercase c-font-bold">
                  <a target="_blank" onclick="ga('send', 'event','Inversionistas', 'Reportes trimestrales Teleconferencia' ,'Reporte de resultados 2T18');" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesTrimestrales/Informes/2018-2T18-en.pdf">
                    2Q18 Earnings Release  </a>
                </div>
                <div class="c-author">
                  <!--<a href="#">-->
                  <!--<span class="c-font-uppercase">Mary Jane</span>-->
                  <!--</a> on-->
                  <span class="c-font-uppercase">Jul 2018</span>
                  <br> &nbsp;
                </div>

              </div>
            </div>
          </div>

          <div class="item">
            <div class="c-content-blog-post-card-1 c-option-2">
              <div class="c-media c-content-overlay">
                <div class="c-overlay-wrapper">
                  <div class="c-overlay-content">
                    <a target="_blank" onclick="ga('send', 'event','Inversionistas', 'Reportes trimestrales Teleconferencia' ,'Reporte de resultados 1T18');" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesTrimestrales/Informes/2018-1T18-en.pdf">
                      <i class="icon-link"></i>
                    </a>

                  </div>
                </div>
                <img class="c-overlay-object img-responsive" src="/assets/cadu/images/content/Cadu-Informe-1T18.jpg" alt="">
              </div>
              <div class="c-body">
                <div class="c-title c-font-uppercase c-font-bold">
                  <a target="_blank" onclick="ga('send', 'event','Inversionistas', 'Reportes trimestrales Teleconferencia' ,'Reporte de resultados 1T18');" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesTrimestrales/Informes/2018-1T18-en.pdf">
                    1Q18 Earnings Release  </a>
                </div>
                <div class="c-author">
                  <!--<a href="#">-->
                  <!--<span class="c-font-uppercase">Mary Jane</span>-->
                  <!--</a> on-->
                  <span class="c-font-uppercase">Apr 2018</span>
                  <br> &nbsp;
                </div>

              </div>
            </div>
          </div>


          <div class="item">
            <div class="c-content-blog-post-card-1 c-option-2">
              <div class="c-media c-content-overlay">
                <div class="c-overlay-wrapper">
                  <div class="c-overlay-content">
                    <a href="http://iaicadu2016.investorcloud.net" target="_blank" onclick="ga('send', 'event','Inversionistas', 'Reportes Anuales' ,'Reporte anual 2016');">
                    <a href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesAnuales/2017-Informe-Anual-vf.pdf" class="btn btn-sm c-btn-white c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square" target="_blank">Download</a></br></br>

                      <!-- <a href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesAnuales/2016-Anual.pdf" class="btn btn-sm c-btn-white c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square" target="_blank">Reporte anual BMV</a> -->
                    </a>

                  </div>
                </div>
                <img class="c-overlay-object img-responsive" src="/assets/cadu/images/content/ia.jpg" alt=""></div>
          <div class="c-body">
          <div class="c-title c-font-uppercase c-font-bold">
          <a target="_blank" onclick="ga('send', 'event','Inversionistas', 'Reportes Anuales' ,'Reporte anual 2015');" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesAnuales/2017-Informe-Anual-vf.pdf">
          2017 Annual Report  </a>
          </div>
          <div class="c-author">

          <span class="c-font-uppercase">Jun 2018</span>
          <br> &nbsp;
          </div>

          </div>
          </div>
          </div>

          <div class="item">
            <div class="c-content-blog-post-card-1 c-option-2">
              <div class="c-media c-content-overlay">
                <div class="c-overlay-wrapper">
                  <div class="c-overlay-content">
                    <a href="http://iaicadu2016.investorcloud.net" target="_blank" onclick="ga('send', 'event','Inversionistas', 'Reportes Anuales' ,'Reporte anual 2016');">
                    <a href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesAnuales/2017-Sustentabilidad.pdf" class="btn btn-sm c-btn-white c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square" target="_blank">Donwload</a></br></br>

                      <!-- <a href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesAnuales/2016-Anual.pdf" class="btn btn-sm c-btn-white c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square" target="_blank">Reporte anual BMV</a> -->
                    </a>

                  </div>
                </div>
                <img class="c-overlay-object img-responsive" src="/assets/cadu/images/content/ias.jpg" alt=""></div>
          <div class="c-body">
          <div class="c-title c-font-uppercase c-font-bold">
          <a target="_blank" onclick="ga('send', 'event','Inversionistas', 'Reportes Anuales' ,'Reporte anual 2015');" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesAnuales/2017-Sustentabilidad.pdf">
            2017 Sustainability Report </a>
          </div>
          <div class="c-author">

          <span class="c-font-uppercase">May 2018</span>
            <br> &nbsp;
          </div>

          </div>
          </div>
          </div>





        </div>
        <!-- End-->
      </div>
      <!-- End-->
    </div>
  </div>
  <!-- END: CONTENT/BLOG/RECENT-POSTS -->
  <!-- BEGIN: CONTENT/PRODUCTS/PRODUCT-1 -->
  <div class="c-content-box c-size-md c-bg-white c-no-bottom-padding espacio30">
    <div class="container">
      <div class="c-content-product-1 c-opt-1">
        <div class="c-content-title-1">
          <h3 class="c-center c-font-uppercase c-font-bold">Investment Rationale</h3>

          <div class="c-line-center"></div>
        </div>
        <div class="row">
          <div class="col-md-4 wow animate slideInUp">
            <div class="c-media text-center">
              <img class="img-responsive center-block" src="/assets/cadu/images/content/modelo360en.png" alt=""/>
              <a href="/es/video" class="text-center"><i class="fa fa-play-circle"></i> Watch our investors video</a></br>
              <a href="https://www.actinver.com/webcenter/portal/CentrodeInformacionBursatilActinver/Centro_de_Informacion_Bursatil_Actinver?TitleEn=Actinver+Research&TitleEsp=Actinver+An%C3%A1lisis&UrlLanguageRefresh=%2Fwebcenter%2Fportal%2FCentrodeInformacionBursatilActinver%2FActinver+Research&centerWidth=100%25&leftWidth=0%25&pageTemplate=%2Foracle%2Fwebcenter%2Fsiteresources%2FscopedMD%2Fs8bba98ff_4cbb_40b8_beee_296c916a23ed%2FsiteTemplate%2Fgsrfe613b96_536d_4cec_8b8a_06b246407c39%2FTemplate.jspx&rightWidth=0%25&showFooter=false&showHeader=false&_adf.ctrl-state=lzm0u1vn4_9&_afrLoop=6037242988336027#!%40%40%3FTitleEn%3DActinver%2BResearch%26TitleEsp%3DActinver%2BAn%25C3%25A1lisis%26UrlLanguageRefresh%3D%252Fwebcenter%252Fportal%252FCentrodeInformacionBursatilActinver%252FActinver%2BResearch%26_afrLoop%3D6037242988336027%26centerWidth%3D100%2525%26leftWidth%3D0%2525%26pageTemplate%3D%252Foracle%252Fwebcenter%252Fsiteresources%252FscopedMD%252Fs8bba98ff_4cbb_40b8_beee_296c916a23ed%252FsiteTemplate%252Fgsrfe613b96_536d_4cec_8b8a_06b246407c39%252FTemplate.jspx%26rightWidth%3D0%2525%26showFooter%3Dfalse%26showHeader%3Dfalse%26_adf.ctrl-state%3D129wbc48xn_4" class="text-center"><i class="fa fa-file-pdf-o"></i> CADU among Actinver's Top Picks</a>
            </div>
          </div>
          <div class="col-md-8">
            <div class="c-body">
              <ul class="c-row">

                <li class="wow animate fadeInUp">
                  <h4>EXPERIENCE</h4>

                  <p>Our key executives have a wide experience in the industry and the Company</p>
                </li>
                <li class="wow animate fadeInUp">
                  <h4>INTEGRATION</h4>

                  <p>We cover most of the development process, from land acquisition to home commercialization </p>
                </li>
              </ul>
              <ul class="c-row">
                <li class="wow animate fadeInUp">
                  <h4>LANDSCAPE</h4>

                  <p>Recovery of bank mortgage loans and government incentives aimed at promoting the acquisition of higher quality housing</p>
                </li>
                <li class="wow animate fadeInUp">
                  <h4>FLEXIBILITY</h4>

                  <p>Lean and adaptable structure to developments for different segments (Affordable entry-level, Middle-Income and Residential)</p>
                </li>
              </ul>
              <ul class="c-row">
                <li class="wow animate fadeInUp">
                  <h4>CONTROL</h4>

                  <p>Cutting-edge planning, and monitoring procedures, as well as generation of key information for decision making</p>
                </li>
                <li class="wow animate fadeInUp">
                  <h4>CONSOLIDATION</h4>

                  <p>We have strong economies of scale and scope in markets with high potential demand </p>
                </li>
              </ul>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- END: PAGE CONTENT -->
</div>
<!-- END: PAGE CONTAINER -->
<!-- BEGIN: LAYOUT/FOOTERS/FOOTER-CADU -->
<%= erb :"global/bloques/footer2en" %>
<!-- END: LAYOUT/FOOTERS/FOOTER-7 -->
<!-- BEGIN: LAYOUT/FOOTERS/TOP -->
<%= erb :"global/bloques/go2top" %>
<!-- END: LAYOUT/FOOTERS/GO2TOP -->
<!-- BEGIN: LAYOUT/BASE/BOTTOM -->
<!-- BEGIN: CORE PLUGINS -->
<%= erb :"global/bloques/javascript" %>
<!-- END: PAGE SCRIPTS  CADU-->
<!-- END: LAYOUT/BASE/BOTTOM -->
</body>

</html>
