<!-- BEGIN: LAYOUT/FOOTERS/FOOTER-7 -->
<a name="footer"></a>
<footer class="c-layout-footer c-layout-footer-7">
  <div class="container">
    <div class="c-prefooter">
      <div class="c-body">
        <div class="row">

          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="c-content-title-1 c-title-md">
              <h3 class="c-title c-font-uppercase c-font-bold">CORPORATE INFORMATION</h3>
              <div class="c-line-left hide"></div>
            </div>
            <ul class="c-links c-theme-ul">
              <li>
                <a href="<%= "/#{I18n.locale}/perfil" %>">Profile</a>
              </li>
              <li>
                <a href="<%= "/#{I18n.locale}/historia" %>">History</a>
              </li>
              <li>
                <a href="<%= "/#{I18n.locale}/faqs" %>">FAQs</a>
              </li>
              <li>
                <a href="<%= "/#{I18n.locale}/fundamentales" %>">Fundamentals</a>
              </li>

            </ul>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12 eventos">
            <div class="c-content-title-1 c-title-md">
              <h3 class="c-title c-font-uppercase c-font-bold">PRESS ROOM</h3>
              <div class="c-line-left hide"></div>
            </div>
            <ul class="c-links c-theme-ul">
            <li>
            <a target="_blank" class=" " href="https://cdn.investorcloud.net/cadu/Comunicados/2024-04-16-CADU-Invitacion-1T24-en.pdf">
            CADU announces 1Q24 Conference Call</a>
          </li>
            <li>
                <a target="_blank" class=" " href="http://cdn.investorcloud.net/cadu/Comunicados/2024-04-12-Aviso.pdf">
                  Notice of Total Amortization of CADU 19 Local Notes</a>
              </li>
            <li>
                <a target="_blank" class="" href="http://cdn.investorcloud.net/cadu/Comunicados/2024-03-04-movimientos.pdf">
                Unusual movements in the trading of the shares</a>
              </li>
            <li>
            <a target="_blank" class=" " href="https://cdn.investorcloud.net/cadu/Comunicados/2024-02-19-CADU-Invitacion-4T23-en.pdf">
            CADU announces 4Q23 Conference Call</a>
          </li>
            <!--li>
            <a target="_blank" class=" " href="https://cdn.investorcloud.net/cadu/Comunicados/2024-02-07-movimientos.pdf">
            Unusual movements in the trading of the shares</a>
          </li-->
            <!--li>
            <a target="_blank" class=" " href="https://cdn.investorcloud.net/cadu/Comunicados/2023-11-28-Calificacion-CADU.pdf">
            HR ratings and PCR VERUM reaffirmed CADU corporate ratings upgrading its outlook</a>
          </li-->
            <!--li>
            <a target="_blank" class=" " href="https://cdn.investorcloud.net/cadu/Comunicados/2023-11-27-Calificacion-Verum.pdf">
            PCR Verum reaffirmed CADU Corporate ratings</a>
          </li-->
            <!--li>
            <a target="_blank" class=" " href="https://cdn.investorcloud.net/cadu/Comunicados/2023-11-24-CADU18-HR-Ratings.pdf">
            HR Ratings withdrawn its rating for CADU 18</a>
          </li-->
            <!--li>
            <a target="_blank" class=" " href="https://cdn.investorcloud.net/cadu/Comunicados/2023-11-24-CADU20V-HR-Ratings.pdf">
            HR Ratings reaffirmed its rating for CADU 20V</a>
          </li-->
          <!--li>
            <a target="_blank" class=" " href="https://cdn.investorcloud.net/cadu/Comunicados/2023-11-24-CADU19-HR-Ratings.pdf">
            HR Ratings reaffirmed its rating for CADU 19</a>
          </li-->
          <!--li>
            <a target="_blank" class=" " href="https://cdn.investorcloud.net/cadu/Comunicados/2023-11-24-CADU-HR-Ratings.pdf">
            HR Ratings reaffirms its rating for CADU</a>
          </li-->
            <!--li>
            <a target="_blank" class=" " href="https://cdn.investorcloud.net/cadu/Comunicados/2023-11-09-compra-acciones.pdf">
            Purchase of shares from a board member</a>
          </li-->
            <!--li>
            <a target="_blank" class=" " href="https://cdn.investorcloud.net/cadu/Comunicados/2023-11-08-movimientos.pdf">
            Unusual movements in the trading of the shares</a>
          </li-->
            <!--li>
            <a target="_blank" class=" " href="https://cdn.investorcloud.net/cadu/Comunicados/2023-11-06-Fondo-de-recompra.pdf">
            Buyback Fund will purchase 6.3 million Series A shares</a>
          </li-->
            <!--li>
            <a target="_blank" class=" " href="https://cdn.investorcloud.net/cadu/Comunicados/2023-10-18-CADU-Invitacion-3T23-en.pdf">
            CADU announces 3Q23 Conference Call</a>
          </li-->
            <!--li>
            <a target="_blank" class=" " href="https://cdn.investorcloud.net/cadu/Comunicados/2023-07-20-CADU-Invitacion-2T23-en.pdf">
            CADU announces 2Q23 Conference Call</a>
          </li>-->
            <!--li>
                <a target="_blank" class=" " href="https://cdn.investorcloud.net/cadu/Comunicados/2023-07-12-procedimiento.pdf">
                Judicial proceedings</a>
              </li>-->
              <!--li>
                <a target="_blank" class=" " href="http://cdn.investorcloud.net/cadu/Comunicados/2023-04-27-ratificacion.pdf">
                Annual ratification of external audit</a>
              </li>-->
              <!--<li>
                <a target="_blank" class=" " href="http://cdn.investorcloud.net/cadu/Comunicados/2023-04-19-CADU-Invitacion-1T23-en.pdf">
                  CADU announces 1Q23 Conference Call</a>
              </li>-->
              <!--<li>
                <a target="_blank" class="" href="http://cdn.investorcloud.net/cadu/Comunicados/2023-02-28-distintivo.pdf">
                  Corpovael S.A.B. de C.V. (CADU) obtains the ESR® 2023 Distinction for second year</a>
              </li>-->

            </ul>
          </div>
          <div class="col-md-3 col-sm-12 col-xs-12">
            <div class="c-content-title-1 c-title-md">
              <h3 class="c-title c-font-uppercase c-font-bold">SOCIAL MEDIA</h3>
              <div class="c-line-left hide"></div>
            </div>
            <div class="socicon">
              <a href="https://www.facebook.com/caduinmobiliariaoficial/" class="socicon-btn socicon-btn-circle socicon-solid c-font-dark-1 c-theme-on-hover socicon-facebook tooltips" data-original-title="Facebook" data-container="body"></a>
              <!--<a href="https://twitter.com/CADU_INV" class="socicon-btn socicon-btn-circle socicon-solid c-font-dark-1 c-theme-on-hover socicon-twitter tooltips" data-original-title="Twitter" data-container="body"></a>-->
              <!--<a href="https://www.linkedin.com/company/1782585" class="socicon-btn socicon-btn-circle socicon-solid c-font-dark-1 c-theme-on-hover tooltips socicon-linkedin" data-original-title="Linkedin" data-container="body"></a>-->
              <a href="mailto:ri@caducancun.com" class="socicon-btn socicon-btn-circle socicon-solid c-font-dark-1 c-theme-on-hover tooltips socicon-mail" data-original-title="Email" data-container="body"></a>
            </div>
            </br>  </br>

              <img src="/assets/cadu/images/content/mem-c.png" alt="">
            </a>
          </br></br>
          <a href="https://www.environmental-finance.com/content/awards/" target="_blank">
            <img src="/assets/cadu/images/globales/award-ef.png" alt="" width="90%">
          </a>
          </div>
          <div class="col-md-3 col-sm-12 col-xs-12">
            <div class="c-content-title-1 c-title-md">
              <h3 class="c-title c-font-uppercase c-font-bold">IR CONTACT INFORMATION</h3>
              <div class="c-line-left hide"></div>
            </div>
            <p class="c-address c-font-16">

              Telephone: +52 (998) 193 1100 <br/>Ext: 1210

              <br/> Email:
              <a href="mailto:ri@caducancun.com">
                <span class="c-theme-color"> ri@caducancun.com</span>
              </a>


            </p>
          </div>
        </div>
      </div>
      <div class="c-line"></div>
      <div class="c-foot">
        <div class="row">
          <div class="col-md-7">
            <div class="c-content-title-1 c-title-md">
              <h3 class="c-title c-font-uppercase c-font-bold">About <span class="c-theme-font">CADU</span>
              </h3>
              <div class="c-line-left hide"></div>
            </div>
            <p class="c-text c-font-16 c-font-regular">Leading Company in the integral development of affordable
              entry-level, middle-income, middle-income residential and residential homes in Mexico, through a differentiated business model based
              on profitability.</p>
          </div>
          <div class="col-md-5 boletin">
            <div class="c-content-title-1 c-title-md">
              <h3 class="c-title c-font-uppercase c-font-bold"><%= I18n.t('Boletin_financiero') %></h3>
              <div class="c-line-left hide"></div>
            </div>
            <div class="c-line-left hide"></div>
            <form name="formulario" action="/es/boletinsubscripcion" method="post">
              <div class="input-group input-group-lg c-square">
                <input required name="email" data-toggle="popover" data-placement="bottom" id="subscribir" type="email" class="c-input form-control c-square c-theme" placeholder="<%= I18n.t('email_placehoder') %>"/>
                <input type="hidden" id="g_recaptcha_response" name="g_recaptcha_response">
                <span class="input-group-btn">
                                  <button id="s-submit-btn" class="btn c-theme-btn c-theme-border c-btn-square c-btn-uppercase c-font-16" type="button"><%= I18n.t('Subscribe') %></button>
                                </span>
              </div>
            </form>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="c-postfooter c-bg-dark-2">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-12 c-col">
          <p class="c-copyright c-font-grey">Copyright 2019. Designed and generated by
            <a class="link_e" target="_blank" href="http://www.irdesign.mx/">IRDesign</a>
            <!-- |
                        <span class="c-font-grey-3"><a class="link_e" target="_blank" href="<%= "/#{I18n.locale}/terminos-condiciones" %>">Términos y Condiciones</a></span> -->
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- END: LAYOUT/FOOTERS/FOOTER-7 -->
<%= erb :"global/bloques/recaptcha" %>
