<!-- BEGIN: LAYOUT/FOOTERS/FOOTER-7 -->
<a name="footer"></a>
<footer class="c-layout-footer c-layout-footer-7">
  <div class="container">
    <div class="c-prefooter">
      <div class="c-body">
        <div class="row">

          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="c-content-title-1 c-title-md">
              <h3 class="c-title c-font-uppercase c-font-bold">Corporativo</h3>
              <div class="c-line-left hide"></div>
            </div>
            <ul class="c-links c-theme-ul">
              <li>
                <a href="<%= "/#{I18n.locale}/perfil" %>">Perfil</a>
              </li>
              <li>
                <a href="<%= "/#{I18n.locale}/historia" %>">Historia</a>
              </li>
              <li>
                <a href="<%= "/#{I18n.locale}/faqs" %>">Preguntas frecuentes</a>
              </li>
              <li>
                <a href="<%= "/#{I18n.locale}/fundamentales" %>">Fundamentales</a>
              </li>

            </ul>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12 eventos">
            <div class="c-content-title-1 c-title-md">
              <h3 class="c-title c-font-uppercase c-font-bold"><%= I18n.t 'Sala' %></h3>
              <div class="c-line-left hide"></div>
            </div>
            <ul class="c-links c-theme-ul">
              <li>
                <a target="_blank" class=" " href="https://elceo.com/politica/infonavit-se-une-a-plan-de-amlo-no-subira-tasas-de-interes-en-lo-que-resta-del-sexenio/">
                  Infonavit no subirá tasas de interés en lo que resta del sexenio (EL CEO)</a>
              </li>
              <li>
                <a target="_blank" class=" " href="https://www.eleconomista.com.mx/econohabitat/Fovissste-va-por-inscripcion-continua-en-2023-20220422-0050.html">
                  Fovissste va por inscripción continua en el 2023 (El Economista)</a>
              </li>
              <li>
                <a target="_blank" class="" href="http://diariohorizonte.com/cadu-cumple-20-anos-desarrollando-viviendas-en-mexico/">
                  CADU cumple 20 años desarrollando viviendas en México</a>
              </li>
              <!--<li>
                <a target="_blank" class="" href="http://cdn.investorcloud.net/cadu/Comunicados/2016-06-22-ComunicadoDividendos.pdf">Pago de dividendos </a>
              </li>-->
              <li>
                <a target="_blank" class=" " href="https://expansion.mx/empresas/2021/07/20/cadu-38-mas-ingresos-venta-de-viviendas-cancun-tulum">
                  CADU tuvo 38.6% más ingresos gracias a la venta de viviendas en Cancún y Tulum</a>
              </li>



            </ul>
          </div>
          <div class="col-md-3 col-sm-12 col-xs-12">
            <div class="c-content-title-1 c-title-md">
              <h3 class="c-title c-font-uppercase c-font-bold">Redes sociales</h3>
              <div class="c-line-left hide"></div>
            </div>
            <div class="socicon">
              <!--<a href="https://www.facebook.com/CADUinmo/" class="socicon-btn socicon-btn-circle socicon-solid c-font-dark-1 c-theme-on-hover socicon-facebook tooltips" data-original-title="Facebook" data-container="body"></a>-->
              <a href="https://twitter.com/CADU_INV" class="socicon-btn socicon-btn-circle socicon-solid c-font-dark-1 c-theme-on-hover socicon-twitter tooltips" data-original-title="Twitter" data-container="body"></a>
              <!--<a href="https://www.linkedin.com/company/1782585" class="socicon-btn socicon-btn-circle socicon-solid c-font-dark-1 c-theme-on-hover tooltips socicon-linkedin" data-original-title="Linkedin" data-container="body"></a>-->
              <a href="mailto:ri@caducancun.com" class="socicon-btn socicon-btn-circle socicon-solid c-font-dark-1 c-theme-on-hover tooltips socicon-mail" data-original-title="Email" data-container="body"></a>
            </div>
            </br>  </br>
            <a href="http://www.mejoresempresasmexicanas.com/reconocidas_2015.php" target="_blank">
              <img src="/assets/cadu/images/content/mem-c.png" alt="">
            </a>
          </br></br>
          <a href="https://www.environmental-finance.com/content/awards/" target="_blank">
            <img src="/assets/cadu/images/globales/award-ef.png" alt="" width="90%">
          </a>
          </div>
          <div class="col-md-3 col-sm-12 col-xs-12">
            <div class="c-content-title-1 c-title-md">
              <h3 class="c-title c-font-uppercase c-font-bold">Contacto RI</h3>
              <div class="c-line-left hide"></div>
            </div>
            <p class="c-address c-font-16">
              <!--<br/> California, US-->
              <br/> Teléfono: +52 (998) 193 1100 <br/>Ext: 1210
              <!--<br/> Fax: 800 123 3456-->
              <br/> Email:
              <a href="mailto:ri@caducancun.com">
                <span class="c-theme-color"> ri@caducancun.com</span>
              </a>


            </p>
          </div>
        </div>
      </div>
      <div class="c-line"></div>
      <div class="c-foot">
        <div class="row">
          <div class="col-md-7">
            <div class="c-content-title-1 c-title-md">
              <h3 class="c-title c-font-uppercase c-font-bold">Sobre <span class="c-theme-font">CADU</span>
              </h3>
              <div class="c-line-left hide"></div>
            </div>
            <p class="c-text c-font-16 c-font-regular">Grupo empresarial líder dedicado al desarrollo integrado de
              vivienda de interés social, media, media-residencial y residencial en México, a través de un modelo de negocios diferenciado
              y sustentado en la rentabilidad.</p>
          </div>
          <div class="col-md-5 boletin">
            <div class="c-content-title-1 c-title-md">
              <h3 class="c-title c-font-uppercase c-font-bold"><%= I18n.t('Boletin_financiero') %></h3>
              <div class="c-line-left hide"></div>
            </div>
            <div class="c-line-left hide"></div>
            <form name="formulario" action="/es/boletinsubscripcion" method="post">
              <div class="input-group input-group-lg c-square">
                <input required name="email" data-toggle="popover" data-placement="bottom" id="subscribir" type="email" class="c-input form-control c-square c-theme" placeholder="<%= I18n.t('email_placehoder') %>"/>
                <input type="hidden" id="g_recaptcha_response" name="g_recaptcha_response">
                <span class="input-group-btn">
                                  <button id="s-submit-btn" class="btn c-theme-btn c-theme-border c-btn-square c-btn-uppercase c-font-16" type="button"><%= I18n.t('Subscribe') %></button>
                                </span>
              </div>
            </form>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="c-postfooter c-bg-dark-2">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-12 c-col">
          <p class="c-copyright c-font-grey">Copyright 2019. Diseñado y generado por
            <a class="link_e" target="_blank" href="http://www.irdesign.mx/">IRDesign</a>
            <!-- |
                        <span class="c-font-grey-3"><a class="link_e" target="_blank" href="<%= "/#{I18n.locale}/terminos-condiciones" %>">Términos y Condiciones</a></span> -->
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- END: LAYOUT/FOOTERS/FOOTER-7 -->
<%= erb :"global/bloques/recaptcha" %>
