<!-- BEGIN: LAYOUT/FOOTERS/FOOTER-7 -->
<a name="footer"></a>
<footer class="c-layout-footer c-layout-footer-7">
  <div class="container">
    <div class="c-prefooter">
      <div class="c-body">
        <div class="row">

          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="c-content-title-1 c-title-md">
              <h3 class="c-title c-font-uppercase c-font-bold">Corporativo</h3>
              <div class="c-line-left hide"></div>
            </div>
            <ul class="c-links c-theme-ul">
              <li>
                <a href="<%= "/#{I18n.locale}/perfil" %>">Perfil</a>
              </li>
              <li>
                <a href="<%= "/#{I18n.locale}/historia" %>">Historia</a>
              </li>
              <li>
                <a href="<%= "/#{I18n.locale}/faqs" %>">Preguntas frecuentes</a>
              </li>
              <li>
                <a href="<%= "/#{I18n.locale}/fundamentales" %>">Fundamentales</a>
              </li>

            </ul>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12 eventos">
            <div class="c-content-title-1 c-title-md">
              <h3 class="c-title c-font-uppercase c-font-bold"><%= I18n.t 'Sala' %></h3>
              <div class="c-line-left hide"></div>
            </div>
            <ul class="c-links c-theme-ul">
            <li>
            <a target="_blank" class=" " href="https://cdn.investorcloud.net/cadu/Comunicados/2025-11-13-pcrverum.pdf">
            PCR Verum incrementa calificaciones corporativas de corto y largo plazo de CADU. También incrementó la calificación del CEBUR CADU20V</a>
          </li>
          <li>
            <a target="_blank" class=" " href="https://cdn.investorcloud.net/cadu/Comunicados/2025-11-05-movimientos.pdf">
            Movimientos inusitados en la negociación de los valores representativos del capital social de 'Corpovael', S.A.B. de C.V., serie 'A' (BMV: CADU)</a>
          </li>
          <li>
            <a target="_blank" class=" " href="https://cdn.investorcloud.net/cadu/Comunicados/2025-10-28-fondo.pdf">
            Fondo Recompra comprará 5,000,000 acciones de los valores representativos del capital social de "Corpovael", S.A.B. de C.V. serie 'A' (BMV: CADU)</a>
          </li>
            <li>
            <a target="_blank" class=" " href="https://cdn.investorcloud.net/cadu/Comunicados/2025-10-13-CADU-Invitacion-3T25.pdf">
            CADU anuncia su Conferencia Telefónica de Resultados del Tercer Trimestre de 2025</a>
          </li>
            <!--<li>
            <a target="_blank" class=" " href="https://cdn.investorcloud.net/cadu/Comunicados/2025-08-18-aclaracion.pdf">
            Aclaración de la nota publicada por “Real Estate Market & Lifestile”</a>
          </li>-->
            <!--<li>
            <a target="_blank" class=" " href="https://cdn.investorcloud.net/cadu/Comunicados/2025-07-14-CADU-Invitacion-2T25.pdf">
            CADU anuncia su Conferencia Telefónica de Resultados del Segundo Trimestre de 2025</a>
          </li>-->
            <!--<li>
            <a target="_blank" class=" " href="https://cdn.investorcloud.net/cadu/Comunicados/2025-04-21-ratificacion.pdf">
            Ratificación anual del despacho de auditoría externa</a>
          </li>-->
            <!--<li>
            <a target="_blank" class=" " href="https://cdn.investorcloud.net/cadu/Comunicados/2025-04-15-CADU-Invitacion-1T25.pdf">
            CADU anuncia su Conferencia Telefónica de Resultados del Primer Trimestre de 2025</a>
          </li>-->
            <!--<li>
            <a target="_blank" class=" " href="https://cdn.investorcloud.net/cadu/Comunicados/2025-03-21-Movimientos.pdf">
            Movimientos inusitados en la negociación de los valores representativos del capital social de 'Corpovael', S.A.B. de C.V., serie 'A' (BMV: CADU)</a>
          </li>-->
            <!--<li>
            <a target="_blank" class=" " href="https://cdn.investorcloud.net/cadu/Comunicados/2025-02-27-Aviso-Canje.pdf">
            Aviso de canje de título de acciones de CORPOVAEL, S.A.B. de C.V.</a>
          </li>-->
            <!--<li>
            <a target="_blank" class=" " href="https://cdn.investorcloud.net/cadu/Comunicados/2025-02-26-Aviso-Canje.pdf">
            Aviso de canje de título de acciones de CORPOVAEL, S.A.B. de C.V.</a>
          </li>-->
            <!--<li>
            <a target="_blank" class=" " href="https://cdn.investorcloud.net/cadu/Comunicados/2025-02-12-CADU-Invitacion-4T24.pdf">
            CADU anuncia su Conferencia Telefónica de Resultados del Cuarto Trimestre de 2024</a>
          </li>-->
            <!--<li>
            <a target="_blank" class=" " href="https://cdn.investorcloud.net/cadu/Comunicados/2024-11-25-PCR-Verum.pdf">
            PCR Verum Incrementa a ‘BBB+/M’ la Calificación Corporativa de CADU; Perspectiva ‘Positiva</a>
          </li>-->
            <!--<li>
            <a target="_blank" class=" " href="https://cdn.investorcloud.net/cadu/Comunicados/2024-11-21-HR-Ratings.pdf">
            HR Ratings revisó al alza las calificaciones de CADU y del bono verde (CADU 20V)</a>
          </li>-->
            <!--<li>
            <a target="_blank" class=" " href="https://cdn.investorcloud.net/cadu/Comunicados/2024-11-19-CADU20V-HR-Ratings.pdf">
            HR Ratings revisó al alza la calificación de HR A+ a HR AA, modificando la Perspectiva Positiva a Estable para CADU 20V</a>
          </li>-->
            <!--<li>
            <a target="_blank" class=" " href="https://cdn.investorcloud.net/cadu/Comunicados/2024-11-19-CADU-HR-Ratings.pdf">
            HR Ratings revisó al alza las calificaciones de HR3 a HR2, y HR BBB a HR A-, modificando la Perspectiva Positiva a Estable para CADU</a>
          </li>-->
            <!--li>
            <a target="_blank" class=" " href="https://cdn.investorcloud.net/cadu/Comunicados/2024-10-09-CADU-Invitacion-3T24.pdf">
            CADU anuncia su Conferencia Telefónica de Resultados del Tercer Trimestre de 2024</a>
          </li-->
            <!--li>
            <a target="_blank" class=" " href="https://cdn.investorcloud.net/cadu/Comunicados/2024-05-15-ratificacion.pdf">
            Ratificación anual del despacho de auditoría externa</a>
          </li-->
            <!--li>
            <a target="_blank" class=" " href="https://cdn.investorcloud.net/cadu/Comunicados/2024-04-18-CADU19-HR-Ratings.pdf">
            HR Ratings retiró la calificación de CADU 19</a>
          </li-->
            <!--li>
            <a target="_blank" class=" " href="https://cdn.investorcloud.net/cadu/Comunicados/2024-07-15-CADU-Invitacion-2T24.pdf">
            CADU anuncia su Conferencia Telefónica de Resultados del Segundo Trimestre de 2024</a>
          </li-->
            <!--li>
                <a target="_blank" class=" " href="http://cdn.investorcloud.net/cadu/Comunicados/2024-04-12-Aviso.pdf">
                  Aviso de Amortización Total de los Certificados Bursátiles CADU 19</a>
              </li-->
              <!--li>
              <a target="_blank" class="" href="http://cdn.investorcloud.net/cadu/Comunicados/2024-03-04-movimientos.pdf">
              Movimientos inusitados en la negociación de los valores del capital</a>
            </li-->
            <!--li>
            <a target="_blank" class=" " href="https://cdn.investorcloud.net/cadu/Comunicados/2024-02-19-CADU-Invitacion-4T23.pdf">
            CADU anuncia su Conferencia Telefónica de Resultados del Cuarto Trimestre de 2023</a>
          </li-->
            <!--li>
            <a target="_blank" class=" " href="https://cdn.investorcloud.net/cadu/Comunicados/2024-02-07-movimientos.pdf">
            Movimientos inusitados en la negociación de los valores del capital</a>
          </li-->
            <!--li>
            <a target="_blank" class=" " href="https://cdn.investorcloud.net/cadu/Comunicados/2023-11-28-Calificacion-CADU.pdf">
            HR Ratings y PCR Verum ratifican calificación de CADU mejorando su perspectiva</a>
          </li-->
            <!--li>
            <a target="_blank" class=" " href="https://cdn.investorcloud.net/cadu/Comunicados/2023-11-27-Calificacion-Verum.pdf">
            PCR Verum ratificó las calificaciones corporativas de CADU Inmobiliaria</a>
          </li-->
            <!--li>
            <a target="_blank" class=" " href="https://cdn.investorcloud.net/cadu/Comunicados/2023-11-24-CADU18-HR-Ratings.pdf">
            HR Ratings retiró la calificación de CADU 18</a>
          </li-->
            <!--li>
            <a target="_blank" class=" " href="https://cdn.investorcloud.net/cadu/Comunicados/2023-11-24-CADU20V-HR-Ratings.pdf">
            HR Ratings ratificó la calificación de CADU 20V</a>
          </li-->
            <!--li>
            <a target="_blank" class=" " href="https://cdn.investorcloud.net/cadu/Comunicados/2023-11-24-CADU19-HR-Ratings.pdf">
            HR Ratings ratificó la calificación de CADU 19</a>
          </li-->
            <!--li>
            <a target="_blank" class=" " href="https://cdn.investorcloud.net/cadu/Comunicados/2023-11-24-CADU-HR-Ratings.pdf">
            HR Ratings ratificó la calificación de CADU</a>
          </li-->
            <!--li>
            <a target="_blank" class=" " href="https://cdn.investorcloud.net/cadu/Comunicados/2023-11-09-compra-acciones.pdf">
            Compra de acciones de un miembro del consejo</a>
          </li-->
            <!--li>
            <a target="_blank" class=" " href="https://cdn.investorcloud.net/cadu/Comunicados/2023-11-08-movimientos.pdf">
            Movimientos inusitados en negociación de valores del capital</a>
          </li-->
            <!--li>
            <a target="_blank" class=" " href="https://cdn.investorcloud.net/cadu/Comunicados/2023-11-06-Fondo-de-recompra.pdf">
            Fondo de recompra comprará 6.3 millones de acciones de los valores representativos del capital social</a>
          </li-->
            <!--li>
            <a target="_blank" class=" " href="https://cdn.investorcloud.net/cadu/Comunicados/2023-10-18-CADU-Invitacion-3T23.pdf">
            CADU anuncia su Conferencia Telefónica de Resultados del Tercer Trimestre de 2023</a>
          </li-->
            <!--li>
            <a target="_blank" class=" " href="https://cdn.investorcloud.net/cadu/Comunicados/2023-07-20-CADU-Invitacion-2T23.pdf">
            CADU anuncia su Conferencia Telefónica de Resultados del Segundo Trimestre de 2023</a>
          </li>-->
            <!--li>
                <a target="_blank" class=" " href="https://cdn.investorcloud.net/cadu/Comunicados/2023-07-12-procedimiento.pdf">
                  Procedimiento judicial</a>
              </li>-->
              <!--li>
                <a target="_blank" class=" " href="http://cdn.investorcloud.net/cadu/Comunicados/2023-04-27-ratificacion.pdf">
                  Ratificación anual del despacho de auditoría externa</a>
              </li>-->
              <!--<li>
                <a target="_blank" class=" " href="http://cdn.investorcloud.net/cadu/Comunicados/2023-04-19-CADU-Invitacion-1T23-.pdf">
                  CADU anuncia su Conferencia Telefónica de Resultados del Primer Trimestre de 2023</a>
              </li>-->
             <!--<li>
                <a target="_blank" class="" href="http://cdn.investorcloud.net/cadu/Comunicados/2023-02-28-distintivo.pdf">
                  Corpovael S.A.B. de C.V. (CADU) obtiene por segundo año el Distintivo ESR® 2023</a>
              </li>-->


            </ul>
          </div>
          <div class="col-md-3 col-sm-12 col-xs-12">
            <div class="c-content-title-1 c-title-md">
              <h3 class="c-title c-font-uppercase c-font-bold">Redes sociales</h3>
              <div class="c-line-left hide"></div>
            </div>
            <div class="socicon">
              <a href="https://www.facebook.com/caduinmobiliariaoficial/" class="socicon-btn socicon-btn-circle socicon-solid c-font-dark-1 c-theme-on-hover socicon-facebook tooltips" data-original-title="Facebook" data-container="body"></a>
            <!--<a href="https://twitter.com/CADU_INV" class="socicon-btn socicon-btn-circle socicon-solid c-font-dark-1 c-theme-on-hover socicon-twitter tooltips" data-original-title="Twitter" data-container="body"></a>-->
              <!--<a href="https://www.linkedin.com/company/1782585" class="socicon-btn socicon-btn-circle socicon-solid c-font-dark-1 c-theme-on-hover tooltips socicon-linkedin" data-original-title="Linkedin" data-container="body"></a>-->
              <a href="mailto:ri@caducancun.com" class="socicon-btn socicon-btn-circle socicon-solid c-font-dark-1 c-theme-on-hover tooltips socicon-mail" data-original-title="Email" data-container="body"></a>
            </div>
            </br>  </br>

              <img src="/assets/cadu/images/content/mem-c.png" alt="">
            </a>
          </br></br>
          <a href="https://www.environmental-finance.com/content/awards/" target="_blank">
            <img src="/assets/cadu/images/globales/award-ef.png" alt="" width="90%">
          </a>
          </div>
          <div class="col-md-3 col-sm-12 col-xs-12">
            <div class="c-content-title-1 c-title-md">
              <h3 class="c-title c-font-uppercase c-font-bold">Contacto RI</h3>
              <div class="c-line-left hide"></div>
            </div>
            <p class="c-address c-font-16">
              <!--<br/> California, US-->
              <br/> Teléfono: +52 (998) 193 1100 <br/>Ext: 1210
              <!--<br/> Fax: 800 123 3456-->
              <br/> Email:
              <a href="mailto:ri@caducancun.com">
                <span class="c-theme-color"> ri@caducancun.com</span>
              </a>


            </p>
          </div>
        </div>
      </div>
      <div class="c-line"></div>
      <div class="c-foot">
        <div class="row">
          <div class="col-md-7">
            <div class="c-content-title-1 c-title-md">
              <h3 class="c-title c-font-uppercase c-font-bold">Sobre <span class="c-theme-font">CADU</span>
              </h3>
              <div class="c-line-left hide"></div>
            </div>
            <p class="c-text c-font-16 c-font-regular">Grupo empresarial líder dedicado al desarrollo integrado de
              vivienda de interés social, media, media-residencial y residencial en México, a través de un modelo de negocios diferenciado
              y sustentado en la rentabilidad.</p>
          </div>
          <div class="col-md-5 boletin">
            <div class="c-content-title-1 c-title-md">
              <h3 class="c-title c-font-uppercase c-font-bold"><%= I18n.t('Boletin_financiero') %></h3>
              <div class="c-line-left hide"></div>
            </div>
            <div class="c-line-left hide"></div>
            <form name="formulario" action="/es/boletinsubscripcion" method="post">
              <div class="input-group input-group-lg c-square">
                <input required name="email" data-toggle="popover" data-placement="bottom" id="subscribir" type="email" class="c-input form-control c-square c-theme" placeholder="<%= I18n.t('email_placehoder') %>"/>
                <input type="hidden" id="g_recaptcha_response" name="g_recaptcha_response">
                <span class="input-group-btn">
                                  <button id="s-submit-btn" class="btn c-theme-btn c-theme-border c-btn-square c-btn-uppercase c-font-16" type="button"><%= I18n.t('Subscribe') %></button>
                                </span>
              </div>
            </form>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="c-postfooter c-bg-dark-2">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-12 c-col">
          <p class="c-copyright c-font-grey">Copyright 2019. Diseñado y generado por
            <a class="link_e" target="_blank" href="http://www.irdesign.mx/">IRDesign</a>
            <!-- |
                        <span class="c-font-grey-3"><a class="link_e" target="_blank" href="<%= "/#{I18n.locale}/terminos-condiciones" %>">Términos y Condiciones</a></span> -->
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- END: LAYOUT/FOOTERS/FOOTER-7 -->
<%= erb :"global/bloques/recaptcha" %>
