<!-- BEGIN: HEADER -->
<header class="c-layout-header c-layout-header-3 c-layout-header-dark-mobile" data-minimize-offset="80">
  <%= erb :"global/bloques/topbar" %>
  <div class="c-navbar">
    <div class="container">
      <!-- BEGIN: BRAND -->
      <div class="c-navbar-wrapper clearfix">
        <div class="c-brand c-pull-left">
          <a href="/<%= I18n.locale.to_s %>" class="c-logo">
            <img src="/assets/cadu/images/globales/logo.png" alt="CADU" class="c-desktop-logo">
            <img src="/assets/cadu/images/globales/logo.png" alt="CADU" class="c-desktop-logo-inverse" style="width: 60%; margin-top: -6px;">
            <img src="/assets/cadu/images/globales/logo.png" alt="CADU" class="c-mobile-logo" style="width: 10%; margin-top: -6px;">
          </a>
          <button class="c-hor-nav-toggler" type="button" data-target=".c-mega-menu">
            <span class="c-line"></span>
            <span class="c-line"></span>
            <span class="c-line"></span>
          </button>
          <button class="c-topbar-toggler" type="button">
            <i class="fa fa-ellipsis-v"></i>
          </button>
          <button class="c-search-toggler" type="button">
            <i class="fa fa-search"></i>
          </button>

        </div>
        <!-- END: BRAND -->
        <!-- BEGIN: QUICK SEARCH -->
        <form class="c-quick-search" action="/es/resultados">
          <input type="text" name="q" placeholder="<%= I18n.t 'buscar' %>" value="" class="form-control" autocomplete="off">
          <span class="c-theme-link">&times;</span>
        </form>
        <!-- END: QUICK SEARCH -->
        <!-- BEGIN: HOR NAV -->
        <!-- BEGIN: LAYOUT/HEADERS/MEGA-MENU -->
        <!-- BEGIN: MEGA MENU -->
        <!-- Dropdown menu toggle on mobile: c-toggler class can be applied to the link arrow or link itself depending on toggle mode -->
        <nav class="c-mega-menu c-pull-right c-mega-menu-dark c-mega-menu-dark-mobile c-fonts-uppercase c-fonts-bold">
          <ul class="nav navbar-nav c-theme-nav">
            <li class="hidden-md">
              <a href="/<%= I18n.locale.to_s %>" class="c-link dropdown-toggle"><%= I18n.t 'Inicio' %>
                <span class="c-arrow c-toggler"></span>
              </a>
            </li>
            <li class="c-menu-type-classic <%= "c-active" if @menuNum == 1 %>">
              <a href="javascript:;" class="c-link dropdown-toggle  c-toggler"><%= I18n.t 'Nosotros' %>
                <span class="c-arrow "></span>
              </a>
              <ul class="dropdown-menu c-menu-type-classic c-pull-left">
                <li class="dropdown-submenu">
                  <a href="<%= "/#{I18n.locale}/perfil" %>"><%= I18n.t 'Perfil' %>
                    <span class="c-arrow"></span>
                  </a>
                </li>
                <li class="dropdown-submenu">
                  <a href="<%= "/#{I18n.locale}/estrategia" %>"><%= I18n.t 'Estrategia' %>
                    <span class="c-arrow"></span>
                  </a>
                </li>
                <li class="dropdown-submenu">
                  <a href="<%= "/#{I18n.locale}/panorama" %>"><%= I18n.t 'Panorama' %>
                    <span class="c-arrow"></span>
                  </a>
                </li>
                <!-- <li class="dropdown-submenu">
                                <a href="<%= "/#{I18n.locale}/cadu-numeros" %>">Cadu en números
                                  <span class="c-arrow c-toggler"></span>
                                </a>
                              </li> -->
                <li class="dropdown-submenu">
                  <a href="<%= "/#{I18n.locale}/modelo-negocio" %>"><%= I18n.t 'modelo_n' %>
                    <span class="c-arrow"></span>
                  </a>
                </li>
                <li class="dropdown-submenu">
                  <a href="<%= "/#{I18n.locale}/historia" %>"><%= I18n.t 'Historia' %>
                    <span class="c-arrow"></span>
                  </a>
                </li>
                <li class="dropdown-submenu">
                  <a href="<%= "/#{I18n.locale}/directivos" %>"><%= I18n.t 'Directivos' %>
                    <span class="c-arrow"></span>
                  </a>
                </li>
              </ul>
            </li>
            <li class="c-menu-type-classic <%= "c-active" if @menuNum == 2 %> ">
              <a href="#" class="c-link dropdown-toggle c-toggler"><%= I18n.t 'sustentabilidad' %>
                <span class="c-arrow"></span>
              </a>
              <ul class="dropdown-menu c-menu-type-classic c-pull-left">
                <li class="dropdown-submenu ">
                  <a href="#" class="c-link dropdown-toggle c-toggler"><%= I18n.t 'Gobierno_corporativo' %>
                    <span class="c-arrow"></span>
                  </a>


                  <ul class="dropdown-menu c-menu-type-classic c-pull-right">
                    <li class="dropdown-submenu">
                      <a href="<%= "/#{I18n.locale}/consejo-administracion" %>"><%= I18n.t 'Consejo_de_Administracion' %>
                        <span class="c-arrow"></span>
                      </a>
                    </li>
                    <li class="dropdown-submenu">
                      <a href="<%= "/#{I18n.locale}/comites" %>"><%= I18n.t 'Comites' %>
                        <span class="c-arrow"></span>
                      </a>
                    </li>
                    <li class="dropdown-submenu">
                      <a href="<%= "/#{I18n.locale}/estructura" %>"><%= I18n.t 'Estructura_accionaria' %>
                        <span class="c-arrow"></span>
                      </a>
                    </li>
                    <li class="dropdown-submenu">
                      <a href="<%= "/#{I18n.locale}/estructura-corporativa" %>"><%= I18n.t 'estructura_c' %>
                        <span class="c-arrow"></span>
                      </a>
                    </li>
                    <li class="dropdown-submenu">
                      <a href="<%= "/#{I18n.locale}/practicas" %>"><%= I18n.t 'practicas' %>
                        <span class="c-arrow"></span>
                      </a>
                    </li>
                    <li class="dropdown-submenu">
                      <a href="<%= "/#{I18n.locale}/auditor-externo" %>"><%= I18n.t 'Auditor_externo' %>
                        <span class="c-arrow"></span>
                      </a>
                    </li>
                    <li class="dropdown-submenu">
                      <a href="http://cdn.investorcloud.net/cadu/Comunicados/Estatutos-Corpovael-SAB-de-CV-2020.pdf" target="_blank"><%= I18n.t 'estatutos_s' %>
                        <span class="c-arrow"></span>
                      </a>
                    </li>
                  </ul>
                </li>
                <li class="dropdown-submenu">
                  <a href="#" class="c-link dropdown-toggle c-toggler"><%= I18n.t 'responsabilidad_s' %>
                    <span class="c-arrow"></span>
                  </a>
                  <ul class="dropdown-menu c-menu-type-classic c-pull-right">
                    <li class="dropdown-submenu">
                      <a href="<%= "/#{I18n.locale}/colaboradores" %>"><%= I18n.t 'colaboradores' %>
                        <span class="c-arrow"></span>
                      </a>
                    </li>
                    <!---<li class="dropdown-submenu">
                      <a href="<%= "/#{I18n.locale}/valor_social" %>"><%= I18n.t 'valor_social_compartido' %>
                        <span class="c-arrow"></span>
                      </a>
                    </li>-->
                    <li class="dropdown-submenu">
                      <a href="<%= "/#{I18n.locale}/comunidades" %>"><%= I18n.t 'comunidades' %>
                        <span class="c-arrow"></span>
                      </a>
                    </li>
                  </ul>
                </li>
                <li class="dropdown-submenu">
                    <a href="#" class="c-link dropdown-toggle c-toggler"><%= I18n.t 'medio_a' %>
                    <span class="c-arrow"></span>
                  </a>
                  <ul class="dropdown-menu c-menu-type-classic c-pull-right">
                    <li class="dropdown-submenu">
                      <a href="<%= "/#{I18n.locale}/emisiones" %>"><%= I18n.t 'emisiones' %>
                        <span class="c-arrow"></span>
                      </a>
                    </li>
                    <li class="dropdown-submenu">
                      <a href="<%= "/#{I18n.locale}/construccion_verde"%>"><%= I18n.t 'construccion_verde' %>
                        <span class="c-arrow"></span>
                      </a>
                    </li>
<!--                    <li class="dropdown-submenu">-->
<!--                      <a href="#"><%#= I18n.t 'residuos' %>-->
<!--                        <span class="c-arrow"></span>-->
<!--                      </a>-->
<!--                    </li>-->
                    <li class="dropdown-submenu">
                      <a href="<%= "/#{I18n.locale}/biodiversidad"%>"><%= I18n.t 'biodiversidad' %>
                        <span class="c-arrow"></span>
                      </a>
                    </li>
                    <li class="dropdown-submenu">
                      <a href="https://investorcloud.s3.amazonaws.com/cadu/GobiernoCorporativo/Global/politica-de-medio-ambiente-CADU-2023.pdf" target="_blank"><%= I18n.t 'politica_medio_ambiente' %>
                        <span class="c-arrow"></span>
                      </a>
                    </li>
                  </ul>
                </li>
                <li class="dropdown-submenu">
                  <a href="#" class="c-link dropdown-toggle c-toggler"><%= I18n.t 'etica' %>
                    <span class="c-arrow"></span>
                  </a>
                  <ul class="dropdown-menu c-menu-type-classic c-pull-right">
                    <li class="dropdown-submenu">
                        <a href="<%= "/#{I18n.locale}/codigo_etica"%>" ><%= I18n.t 'codigo_etica' %>
                        <span class="c-arrow"></span>
                      </a>
                    </li>
                    <li class="dropdown-submenu">
                      <a href="<%= "/#{I18n.locale}/comite_etica"%>"><%= I18n.t 'comite_etica' %>
                        <span class="c-arrow"></span>
                      </a>
                    </li>
                    <li class="dropdown-submenu">
                      <a href="<%= "/#{I18n.locale}/sistema_denuncias"%>" ><%= I18n.t 'sistema_denuncias' %>
                        <span class="c-arrow"></span>
                      </a>
                    </li>

                    <li class="dropdown-submenu">
                      <a href="<%= "/#{I18n.locale}/politica_anticorrupcion"%>"><%= I18n.t 'politica_anticorrupcion' %>
                        <span class="c-arrow"></span>
                      </a>
                    </li>
                  </ul>
                </li>
                <li class="dropdown-submenu">
                  <a href="#" class="c-link dropdown-toggle c-toggler"><%= I18n.t 'estrategia_modelo' %>
                    <span class="c-arrow"></span>
                  </a>
                  <ul class="dropdown-menu c-menu-type-classic c-pull-right">
                    <li class="dropdown-submenu">
                      <a href="<%= "/#{I18n.locale}/estrategia_sustentabilidad" %>"><%= I18n.t 'estrategia_sustentabilidad' %>
                        <span class="c-arrow"></span>
                      </a>
                    </li>
                    <li class="dropdown-submenu">
                      <a href="<%= "/#{I18n.locale}/estudio_materialidad" %>"><%= I18n.t 'estudio_materialidad' %>
                        <span class="c-arrow"></span>
                      </a>
                    </li>
                    <li class="dropdown-submenu">
                      <a href="<%= "/#{I18n.locale}/comite_sustentabilidad" %>"><%= I18n.t 'comite_sustentabilidad' %>
                        <span class="c-arrow"></span>
                      </a>
                    </li>
                  </ul>
                </li>
                <li class="dropdown-submenu">
                  <a href="<%= "/#{I18n.locale}/objetivos_desarrollo_sostenible" %>"><%= I18n.t 'objetivos_desarrollo_sostenible' %>
                    <span class="c-arrow"></span>
                  </a>
                </li>
                <li class="dropdown-submenu">
                  <a href="#" class="c-link dropdown-toggle c-toggler"><%= I18n.t 'informe_s' %>
                    <span class="c-arrow"></span>
                  </a>
                  <ul class="dropdown-menu c-menu-type-classic c-pull-right" >
                    <li class="dropdown-submenu" >
                      <a  style="font-size: 12px !important; margin-top: -3px !important;" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesAnuales/2017-Sustentabilidad.pdf" target="_blank"><%= I18n.t 'reporte_2017' %>
                        <span class="c-arrow"></span>
                      </a>

                    </li>
                    <li class="dropdown-submenu">
                      <a style="font-size: 12px !important; margin-top: -10px !important;" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesAnuales/2018-Sustentabilidad.pdf" target="_blank"><%= I18n.t 'reporte_2018' %>
                        <span class="c-arrow"></span>
                      </a>

                    </li>
                    <li class="dropdown-submenu">

                      <% if I18n.locale == :es %>
                        <a style="font-size: 12px !important; margin-top: -10px !important;" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesAnuales/2019-Sustentabilidad.pdf" target="_blank"><%= I18n.t 'reporte_2019' %>
                          <span class="c-arrow"></span>
                        </a>
                      <% else %>
                        <a style="font-size: 12px !important; margin-top: -10px !important;" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesAnuales/2019-Sustentabilidad-en.pdf" target="_blank"><%= I18n.t 'reporte_2019' %>
                          <span class="c-arrow"></span>
                        </a>
                      <% end %>



                    </li>
                    <li class="dropdown-submenu">
                      <% if I18n.locale == :es %>
                        <a style="font-size: 12px !important; margin-top: -10px !important;" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesAnuales/2020-Sustentabilidad-vf.pdf" target="_blank"><%= I18n.t 'reporte_2020' %>
                          <span class="c-arrow"></span>
                        </a>
                      <% else %>
                        <a style="font-size: 12px !important; margin-top: -10px !important;" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesAnuales/2020-Sustentabilidad-en.pdf" target="_blank"><%= I18n.t 'reporte_2020' %>
                          <span class="c-arrow"></span>
                        </a>
                      <% end %>

                    </li>

                <li class="dropdown-submenu">
                  <% if I18n.locale == :es %>
                    <a style="font-size: 12px !important; margin-top: -10px !important;" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesAnuales/2021-Sustentabilidad.pdf" target="_blank"><%= I18n.t 'reporte_2021' %>
                      <span class="c-arrow"></span>
                    </a>
                  <% else %>
                    <a style="font-size: 12px !important; margin-top: -10px !important;" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesAnuales/2021-Sustentabilidad.pdf" target="_blank"><%= I18n.t 'reporte_2021' %>
                      <span class="c-arrow"></span>
                    </a>
                  <% end %>

                </li>

                <li class="dropdown-submenu">
                  <% if I18n.locale == :es %>
                    <a style="font-size: 12px !important; margin-top: -10px !important;" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesAnuales/2022-Sustentabilidad-.pdf" target="_blank"><%= I18n.t 'reporte_2022' %>
                      <span class="c-arrow"></span>
                    </a>
                  <% else %>
                    <a style="font-size: 12px !important; margin-top: -10px !important;" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesAnuales/2022-Sustentabilidad-.pdf" target="_blank"><%= I18n.t 'reporte_2022' %>
                      <span class="c-arrow"></span>
                    </a>
                  <% end %>

                </li>
              <li class="dropdown-submenu">
              <% if I18n.locale == :es %>
                <a style="font-size: 12px !important; margin-top: -10px !important;" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesAnuales/2024-Sustentabilidad.pdf" target="_blank"><%= I18n.t 'reporte_2023' %>
                  <span class="c-arrow"></span>
                </a>
              <% else %>
                <a style="font-size: 12px !important; margin-top: -10px !important;" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesAnuales/2024-Sustentabilidad.pdf" target="_blank"><%= I18n.t 'reporte_2023' %>
                  <span class="c-arrow"></span>
                </a>
              <% end %>

            </li>
                  </ul>
                </li>
                <li class="dropdown-submenu">
                  <a href="#" class="c-link dropdown-toggle c-toggler"><%= I18n.t 'reporte_bv' %>
                    <span class="c-arrow"></span>
                  </a>
                  <ul class="dropdown-menu c-menu-type-classic c-pull-right" >

                    <li class="dropdown-submenu">
                    <a style="font-size: 12px !important; margin-top: -10px !important;" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesSustentables/Reporte-Bono-Verde-1Q21-.pdf" target="_blank"><%= I18n.t 'reporte_bono-v-1Q21' %>
                      <span class="c-arrow"></span>
                    </a>

                  </li>

                  <li class="dropdown-submenu">
                  <a style="font-size: 12px !important; margin-top: -10px !important;" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesSustentables/Reporte-Bono-Verde-2Q21.pdf" target="_blank"><%= I18n.t 'reporte_bono-v-2Q21' %>
                    <span class="c-arrow"></span>
                  </a>

                </li>

                  </ul>
                </li>

                <li class="dropdown-submenu">
                  <a href="<%= "/#{I18n.locale}/figuras_destacadas" %>"><%= I18n.t 'figuras_destacadas' %>
                    <span class="c-arrow c-toggler"></span>
                  </a>

                </li>
                <li class="dropdown-submenu">
                  <a target="_blank" href="https://maq.caduinmobiliaria.com/"><%= I18n.t 'mecanismo_atencion' %>
                    <span class="c-arrow c-toggler"></span>
                  </a>

                </li>
              </ul>
            </li>
            <li class="c-menu-type-classic <%= "c-active" if @menuNum == 3 %> ">
              <a href="#" class="c-link dropdown-toggle c-toggler"><%= I18n.t 'Informacion_financiera' %>
                <span class="c-arrow"></span>
              </a>
              <ul class="dropdown-menu c-menu-type-classic c-pull-left">
                <li class="dropdown-submenu">
                  <a href="<%= "/#{I18n.locale}/reportes-financieros" %>"><%= I18n.t 'reportes_f' %>
                    <span class="c-arrow c-toggler"></span>
                  </a>

                </li>
                <li class="dropdown-submenu">
                  <a href="<%= "/#{I18n.locale}/presentaciones" %>"><%= I18n.t 'presentaciones' %>
                    <span class="c-arrow c-toggler"></span>
                  </a>

                </li>
                <li class="dropdown-submenu">
                  <a href="<%= "http://cdn.investorcloud.net/cadu/Presentaciones/Factsheet-1T25-#{I18n.locale}.pdf" %>" target="_blank"><%= I18n.t 'factsheet' %>
                    <span class="c-arrow c-toggler"></span>
                  </a>

                </li>
                <li class="dropdown-submenu">
                  <a href="<%= "/#{I18n.locale}/fundamentales" %>"><%= I18n.t 'Fundamentales' %>
                    <span class="c-arrow c-toggler"></span>
                  </a>
                </li>
                <li class="dropdown-submenu">
                  <a href="<%= "/#{I18n.locale}/faqs" %>"><%= I18n.t 'Preguntas_frecuentes' %>
                    <span class="c-arrow c-toggler"></span>
                  </a>
                </li>
                <li class="dropdown-submenu">
                  <a href="<%= "/#{I18n.locale}/glosario" %>"><%= I18n.t 'Glosario' %>
                    <span class="c-arrow c-toggler"></span>
                  </a>

                </li>
                <li class="dropdown-submenu">
                  <a href="<%= "/#{I18n.locale}/sala-prensa" %>"><%= I18n.t 'comunicados' %>
                    <span class="c-arrow c-toggler"></span>
                  </a>

                </li>
              </ul>
            </li>
            <li class="c-menu-type-classic <%= "c-active" if @menuNum == 4 %> ">
              <a href="javascript:;" class="c-link dropdown-toggle c-toggler"><%= I18n.t 'Informacion_bursatil' %>
                <span class="c-arrow"></span>
              </a>
              <ul class="dropdown-menu c-menu-type-classic c-pull-left">
                <li class="dropdown-submenu ">
                  <a href="<%= "/#{I18n.locale}/cotizacion" %>"><%= I18n.t 'Cotizacion_de_la_accion' %>
                    <span class="c-arrow c-toggler"></span>
                  </a>
                </li>
                <li class="dropdown-submenu ">
                  <a href="<%= "/#{I18n.locale}/acuerdos-asambleas" %>"><%= I18n.t 'acuerdos_a' %>
                    <span class="c-arrow c-toggler"></span>
                  </a>
                </li>
                <li class="dropdown-submenu ">
                  <a href="<%= "/#{I18n.locale}/dividendos" %>"><%= I18n.t 'dividendos' %>
                    <span class="c-arrow c-toggler"></span>
                  </a>
                </li>
                <li class="dropdown-submenu ">
                  <a href="<%= "/#{I18n.locale}/renta-fija-credito" %>"> <%= I18n.t 'renta_f' %>
                    <span class="c-arrow c-toggler"></span>
                  </a>
                </li>
                <!-- <li class="dropdown-submenu ">
                              <a href="<%= "/#{I18n.locale}/renta-fija-credito" %>">Renta Fija y Crédito
                                <span class="c-arrow c-toggler"></span>
                              </a>

                            </li> -->
                <li class="dropdown-submenu">
                  <a href="<%= "/#{I18n.locale}/analistas" %>"><%= I18n.t 'Cobertura_de_analistas' %>
                    <span class="c-arrow c-toggler"></span>
                  </a>
                </li>
                <li class="dropdown-submenu">
                  <a href="<%= "/#{I18n.locale}/calificaciones" %>"><%= I18n.t 'Calificaciones' %>
                    <span class="c-arrow c-toggler"></span>
                  </a>
                </li>
                <li class="dropdown-submenu">
                  <a href="<%= "/#{I18n.locale}/prospectos" %>"><%= I18n.t 'Prospectos' %>
                    <span class="c-arrow c-toggler"></span>
                  </a>
                </li>

              </ul>
            </li>
            <li class="c-search-toggler-wrapper">
              <a href="#" class="c-btn-icon c-search-toggler">
                <i class="fa fa-search"></i>
              </a>
            </li>

            <!-- <li class="c-quick-sidebar-toggler-wrapper">
                <a href="#" class="c-quick-sidebar-toggler">
                    <span class="c-line"></span>
                    <span class="c-line"></span>
                    <span class="c-line"></span>
                </a>
            </li> -->
          </ul>
        </nav>
        <!-- END: MEGA MENU -->
        <!-- END: LAYOUT/HEADERS/MEGA-MENU -->
        <!-- END: HOR NAV -->
      </div>


    </div>
  </div>
</header>
<!-- END: HEADER -->
