<% if @menuNum != 0 %>
    <div class="c-content-ver-nav">
      <div class="c-content-title-1 c-theme c-title-md ">
        <h3 class="c-font-bold c-font-uppercase"><%= @menuName %></h3>

        <div class="c-line-left c-theme-bg"></div>
      </div>
      <% if @menuNum == 1 %>
          <ul class="c-menu c-arrow-dot1 c-theme">
            <li>
              <a href="<%= "/#{I18n.locale}/perfil" %>"><%= I18n.t 'Perfil' %>
              </a>
            </li>
            <li>
              <a href="<%= "/#{I18n.locale}/estrategia" %>"><%= I18n.t 'Estrategia' %>
              </a>
            </li>
            <li>
              <a href="<%= "/#{I18n.locale}/panorama" %>"><%= I18n.t 'Panorama' %>
              </a>
            </li>
            <li>
              <a href="<%= "/#{I18n.locale}/modelo-negocio" %>"><%= I18n.t 'modelo_n' %>
              </a>
            </li>
            <li>
              <a href="<%= "/#{I18n.locale}/historia" %>"><%= I18n.t 'Historia' %>
              </a>
            </li>
            <li>
              <a href="<%= "/#{I18n.locale}/directivos" %>"><%= I18n.t 'Directivos' %>
              </a>
            </li>
          </ul>
      <% end %>
      <% if @menuNum == 2 %>
          <ul class="c-menu c-arrow-dot1 c-theme">
            <li>
              <a href="<%= "/#{I18n.locale}/auditor-externo" %>"><%= I18n.t 'Auditor_externo' %>
              </a>
            </li>
            <li>
              <a href="<%= "/#{I18n.locale}/estructura" %>"><%= I18n.t 'Estructura_accionaria' %>
              </a>
            </li>
            <li>
              <a href="<%= "/#{I18n.locale}/practicas" %>"><%= I18n.t 'practicas' %>
              </a>
            </li>
            <li>
              <a href="<%= "/#{I18n.locale}/estructura-corporativa" %>"><%= I18n.t 'estructura_c' %>
              </a>
            </li>
            <li>
              <a href="<%= "/#{I18n.locale}/consejo-administracion" %>"><%= I18n.t 'Consejo_de_Administracion' %></a>
            </li>
            <li>
              <a href="<%= "/#{I18n.locale}/comites" %>"><%= I18n.t 'Comites' %></a>
            </li>
            <li>
              <a href="http://cdn.investorcloud.net/cadu/Comunicados/Estatutos-Corpovael-SAB-de-CV.pdf" target="_blank"><%= I18n.t 'estatutos_s' %></a>
            </li>
            <li>
              <a href="<%= "/#{I18n.locale}/responsabilidad-social" %>"><%= I18n.t 'responsabilidad_s' %></a>
            </li>
            <li>
              <a href="<%= "/#{I18n.locale}/medio-ambiente" %>"><%= I18n.t 'medio_a' %></a>
            </li>
            <li>
              <a href="<%= "/#{I18n.locale}/informes-sustentables" %>"><%= I18n.t 'informe_s' %></a>
            </li>
          </ul>
      <% end %>
      <% if @menuNum == 3 %>
          <ul class="c-menu c-arrow-dot1 c-theme">
            <li>
              <a href="<%= "/#{I18n.locale}/reportes-financieros" %>"><%= I18n.t 'reportes_f' %></a>
            </li>
            <li>
              <a href="<%= "/#{I18n.locale}/presentaciones" %>"><%= I18n.t 'presentaciones' %></a>
            </li>
            <li>
              <a href="<%= "http://cdn.investorcloud.net/cadu/Presentaciones/Factsheet-1T19-#{I18n.locale}.pdf" %>" target="_blank"><%= I18n.t 'factsheet' %></a>
            </li>
            <li>
              <a href="<%= "/#{I18n.locale}/fundamentales" %>"><%= I18n.t 'Fundamentales' %></a>
            </li>
            <li>
              <a href="<%= "/#{I18n.locale}/faqs" %>"><%= I18n.t 'Preguntas_frecuentes' %></a>
            </li>
            <li>
              <a href="<%= "/#{I18n.locale}/glosario" %>"><%= I18n.t 'Glosario' %></a>

            </li>


            <li>
              <a href="<%= "/#{I18n.locale}/comunicados" %>"><%= I18n.t 'comunicados' %>
              </a>

            </li>
          </ul>
      <% end %>
      <% if @menuNum == 4 %>
          <ul class="c-menu c-arrow-dot1 c-theme">
            <li>
              <a href="<%= "/#{I18n.locale}/cotizacion" %>"><%= I18n.t 'Cotizacion_de_la_accion' %>
              </a>

            </li>
            <li>
              <a href="<%= "/#{I18n.locale}/acuerdos-asambleas" %>"><%= I18n.t 'acuerdos_a' %>
              </a>

            </li>
            <li>
              <a href="<%= "/#{I18n.locale}/dividendos" %>"><%= I18n.t 'dividendos' %>
              </a>
            </li>
            <li>
              <a href="<%= "/#{I18n.locale}/renta-fija-credito" %>"><%= I18n.t 'renta_f' %>
              </a>
            </li>
            <li>
              <a href="<%= "/#{I18n.locale}/analistas" %>"><%= I18n.t 'Cobertura_de_analistas' %>
              </a>
            </li>
            <li>
              <a href="<%= "/#{I18n.locale}/calificaciones" %>"><%= I18n.t 'Calificaciones' %>
              </a>
            </li>
            <li>
              <a href="<%= "/#{I18n.locale}/prospectos" %>"><%= I18n.t 'Prospectos' %>
              </a>
            </li>
          </ul>
      <% end %>
    </div>
<% end %>
<div class="c-content-tab-1 c-theme c-margin-t-30">
  <div class="c-content-title-1 c-theme c-title-md c-margin-t-40">
    <h3 class="c-font-bold c-font-uppercase"><%= I18n.t 'Documentos_destacados' %></h3>

    <div class="c-line-left c-theme-bg"></div>
  </div>
  <div class="nav-justified">

    <div class="tab-content">
      <div class="tab-pane active" id="blog_recent_posts">
        <ul class="c-content-recent-posts-1">
          <li>
            <div class="c-post">
              <% if I18n.locale == :es %>
                  <a target="_blank" onclick="ga('send', 'event','Inversionistas', 'Reportes trimestrales' ,'Reporte de resultados 3T18');" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesTrimestrales/Informes/2019-1T19.pdf"><%= I18n.t 'info_3T18' %></a>
              <% else %>
                  <a target="_blank" onclick="ga('send', 'event','Inversionistas', 'Reportes trimestrales' ,'Reporte de resultados 3T18');" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesTrimestrales/Informes/2019-1T19-en.pdf"><%= I18n.t 'info_3T18' %></a>
              <% end %>
              <div class="c-date"><%= I18n.t 'sep_2018' %></div>
            </div>
          </li>
          <li>
            <div class="c-post">
              <% if I18n.locale == :es %>
                  <a target="_blank" onclick="ga('send', 'event','Inversionistas', 'Reportes trimestrales' ,'Reporte de resultados 2T18');" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesTrimestrales/Informes/2018-4T18.pdf"><%= I18n.t 'info_2T18' %></a>
              <% else %>
                  <a target="_blank" onclick="ga('send', 'event','Inversionistas', 'Reportes trimestrales' ,'Reporte de resultados 2T18');" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesTrimestrales/Informes/2018-4T18-en.pdf"><%= I18n.t 'info_2T18' %></a>
              <% end %>

              <div class="c-date"><%= I18n.t 'jul_2018' %></div>
            </div>
          </li>
          <li>
            <div class="c-post">
              <a target="_blank" onclick="ga('send', 'event','Inversionistas', 'Reportes Anuales' ,'Reporte anual 2017');" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesAnuales/2017-Sustentabilidad.pdf"><%= I18n.t 'reporte_s_2017' %></a>

              <div class="c-date">May 2018</div>
            </div>
          </li>
          <li>
            <div class="c-post">
              <a target="_blank" onclick="ga('send', 'event','Inversionistas', 'Reportes Anuales' ,'Reporte anual 2017');" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesAnuales/2017-Informe-Anual-vf.pdf"><%= I18n.t 'informe_a_2017' %></a>

              <div class="c-date">Jun 2018</div>
            </div>
          </li>

        </ul>
      </div>

    </div>
  </div>
</div>
