
<% if @menuNum != 0 %>
<div class="c-content-ver-nav">
  <div class="c-content-title-1 c-theme c-title-md ">
    <h3 class="c-font-bold c-font-uppercase"><%= @menuName %></h3>

    <div class="c-line-left c-theme-bg"></div>
  </div>
  <% if @menuNum == 1 %>
      <ul class="c-menu c-arrow-dot1 c-theme">
        <li>
          <a href="<%= "/#{I18n.locale}/perfil" %>">Perfil
          </a>
        </li>
        <li>
          <a href="<%= "/#{I18n.locale}/estrategia" %>">Estrategia
          </a>
        </li>
        <li>
          <a href="<%= "/#{I18n.locale}/panorama" %>">Panorama
          </a>
        </li>
        <!-- <li>
          <a href="<%= "/#{I18n.locale}/cadu-numeros" %>">Cadu en números
          </a>
        </li> -->
        <li>
          <a href="<%= "/#{I18n.locale}/modelo-negocio" %>">Modelo de negocio
          </a>
        </li>
        <li>
          <a href="<%= "/#{I18n.locale}/historia" %>">Historia

          </a>
        </li>
        <li>
          <a href="<%= "/#{I18n.locale}/directivos" %>">Directivos

          </a>
        </li>
      </ul>
  <% end %>
  <% if @menuNum == 2 %>
      <ul class="c-menu c-arrow-dot1 c-theme">

        <li>
          <a href="<%= "/#{I18n.locale}/auditor-externo" %>">Auditor externo
          </a>
        </li>
        <li>
          <a href="<%= "/#{I18n.locale}/estructura-accionaria" %>">Estructura Accionaria
          </a>
        </li>
        <li>
          <a href="<%= "/#{I18n.locale}/practicas" %>">Mejores prácticas corporativas
          </a>
        </li>
        <li>
          <a href="<%= "/#{I18n.locale}/estructura-corporativa" %>">Estructura corporativa
          </a>
        </li>
        <li>
          <a href="<%= "/#{I18n.locale}/consejo-administracion" %>">Consejo de administración
          </a>
        </li>
        <li>
          <a href="<%= "/#{I18n.locale}/comites" %>">Comités

          </a>
        </li>
      </ul>
  <% end %>
  <% if @menuNum == 3 %>
      <ul class="c-menu c-arrow-dot1 c-theme">
        <li>
          <a href="<%= "/#{I18n.locale}/reportes-financieros" %>">Reportes financieros
          </a>

        </li>
        <li>
          <a href="<%= "/#{I18n.locale}/fundamentales" %>">Fundamentales
          </a>
        </li>
        <li>
          <a href="<%= "/#{I18n.locale}/faqs" %>">Preguntas frecuentes
          </a>
        </li>
        <li>
          <a href="<%= "/#{I18n.locale}/glosario" %>">Glosario
          </a>

        </li>


        <li>
          <a href="<%= "/#{I18n.locale}/comunicados" %>">Comunicados
          </a>

        </li>
      </ul>
  <% end %>
  <% if @menuNum == 4 %>
      <ul class="c-menu c-arrow-dot1 c-theme">
        <li>
          <a href="<%= "/#{I18n.locale}/cotizacion" %>">Cotización de la acción
          </a>

        </li>
        <li>
          <a href="<%= "/#{I18n.locale}/acuerdos-asambleas" %>">Acuerdos y asambleas
          </a>

        </li>
        <li>
          <a href="<%= "/#{I18n.locale}/dividendos" %>">Dividendos

          </a>

        </li>
        <li>
          <a href="<%= "/#{I18n.locale}/renta-fija-credito" %>">Renta fija y crédito
          </a>

        </li>
        <li>
          <a href="<%= "/#{I18n.locale}/analistas" %>">Cobertura de analistas
          </a>

        </li>
       <li>
          <a href="<%= "/#{I18n.locale}/calculadora" %>">Calculadora de <Rendimientos></Rendimientos>
          </a>

        </li>
        <!--<li>-->
          <!--<a href="<%= "/#{I18n.locale}/ibursatil" %>">Indicadores bursátiles-->
          <!--</a>-->

        <!--</li>-->
      </ul>
  <% end %>
</div>
<% end %>
<div class="c-content-tab-1 c-theme c-margin-t-30">
  <div class="c-content-title-1 c-theme c-title-md c-margin-t-40">
    <h3 class="c-font-bold c-font-uppercase">Documentos destacados</h3>

    <div class="c-line-left c-theme-bg"></div>
  </div>
  <div class="nav-justified">

    <div class="tab-content">
      <div class="tab-pane active" id="blog_recent_posts">
        <ul class="c-content-recent-posts-1">
          <li>
            <div class="c-post">
              <a target="_blank" onclick="ga('send', 'event','Inversionistas', 'Reportes trimestrales' ,'Reporte de resultados 2T18');" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesTrimestrales/Informes/2018-2T18.pdf">Informe
                2T18</a>

              <div class="c-date">Jul 2018</div>
            </div>
          </li>
          <li>
            <div class="c-post">
              <a target="_blank" onclick="ga('send', 'event','Inversionistas', 'Reportes trimestrales' ,'Reporte de resultados 1T18');" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesTrimestrales/Informes/2018-1T18.pdf">Informe
                1T18</a>

              <div class="c-date"> 2018</div>
            </div>
          </li>







          <!--<li>

            <div class="c-post">
              <a target="_blank" onclick="ga('send', 'event','Inversionistas', 'Reportes trimestrales Teleconferencia' ,'Reporte de resultados 3T16');" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesTrimestrales/Teleconferencias/2016-3T16-CC.mp3">Teleconferencia
                2T16</a>

              <div class="c-date">Oct 2016</div>
            </div>
          </li>-->



          <!--<li>

            <div class="c-post">
              <a target="_blank" onclick="ga('send', 'event','Inversionistas', 'Reportes trimestrales Teleconferencia' ,'Reporte de resultados 2T16');" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesTrimestrales/Teleconferencias/2016-2T16-CC1.mp3">Teleconferencia
                2T16</a>

              <div class="c-date">Jul 2016</div>
            </div>
          </li>-->

          <li>

            <div class="c-post">
              <a target="_blank" onclick="ga('send', 'event','Inversionistas', 'Reportes Anuales' ,'Reporte anual 2015');" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesAnuales/2017-Sustentabilidad.pdf">Reporte
                de sustentabilidad  2017</a>

              <div class="c-date">May 2017</div>
            </div>
          </li>

          <li>

            <div class="c-post">
              <a target="_blank" onclick="ga('send', 'event','Inversionistas', 'Reportes Anuales' ,'Reporte anual 2015');" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesAnuales/2017-Informe-Anual-vf.pdf">Informe
                Anual  2017</a>

              <div class="c-date">Jun 2017</div>
            </div>
          </li>



          <!--<li>

            <div class="c-post">
              <a target="_blank" onclick="ga('send', 'event','Inversionistas', 'Reportes trimestrales Teleconferencia' ,'Reporte de resultados 1T16');" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesTrimestrales/Teleconferencias/2016-1T16-CC1.mp3">Teleconferencia
                1T16</a>

              <div class="c-date">Abr 2016</div>
            </div>
          </li>-->

        </ul>
      </div>

    </div>
  </div>
</div>
