<div class="eventos-relevantes">

  <table class="table table-striped table-bordered" id="datatable" cellspacing="0" width="100%">

    <thead>
    <tr>
      <th class="col-md-9">Eventos</th>
      <th class="col-md-3">Fecha</th>
    </tr>
    </thead>


    <tbody>
      <tr>
        <td>
          <a target="_blank" class=" " href="<%= @comunicados_path2 %>/2016-03-02-ProspectoColocacion.pdf">Prospecto de Colocación GFAMSA 16</a>
        </td>
        <td>02-03-2016</td>
      </tr>
      <tr>
        <td>
          <a target="_blank" class=" " href="<%= @comunicados_path2 %>/2016-03-02-suplemento-preliminar.pdf">Suplemento preliminar GFAMSA 16</a>
        </td>
        <td>02-03-2016</td>
      </tr>
      <tr>
        <td>
          <a target="_blank" class=" " href="<%= @comunicados_path2 %>/2016-02-18-PR4Q15.pdf">El flujo operativo consolidado de Grupo Famsa crece 29.7% durante el 4T15</a>
        </td>
        <td>18-02-2016</td>
      </tr>
      <tr>
        <td>
          <a target="_blank" class=" " href="<%= @comunicados_path2 %>/2016-02-17-Invitacion4T15.pdf">Invitación a la teleconferencia de reporte de resultados 4T15</a>
        </td>
        <td>27-01-2016</td>
      </tr>
    <tr>
      <td>
        <a target="_blank" class=" " href="<%= @comunicados_path2 %>/2016-01-27-FamsaReduceBalance.pdf">GFAMSA reduce en 11% el balance de su deuda colocada en dólares americanos</a>
      </td>
      <td>27-01-2016</td>
    </tr>
    <tr>
      <td>
        <a target="_blank" class=" " href="<%= @comunicados_path2 %>/2016-01-19-SolidoDesempeno.pdf">Grupo Famsa anticipa sólido desempeño durante el cuarto trimestre y ejercicio 2015</a>
      </td>
      <td>19-01-2016</td>
    </tr>
    <tr>
      <td>
        <a target="_blank" class=" " href="<%= @comunicados_path %>/GFAMSA-Comunicado-de-Prensa-2T15.pdf">Comunicado de Prensa Resultados 2T15</a>
      </td>
      <td>23-07-2015</td>
    </tr>

    <tr>
      <td>
        <a target="_blank" class=" " href="<%= @comunicados_path %>/201523jun-GFAMSA-Evento-Relevante.pdf">
          GFamsa reenvía su reporte anual 2014 a solicitud de la CNBV
        </a>
      </td>
      <td>23-06-2015</td>
    </tr>

    <tr>
      <td>
        <a target="_blank" class=" " href="<%= @comunicados_path %>/23-06-2015-es.pdf">
          GFamsa reenvía su reporte anual 2014 a solicitud de la CNBV
        </a>
      </td>
      <td>22-06-2015</td>
    </tr>

    <tr>
      <td>
        <a target="_blank" class=" " href="<%= @comunicados_path %>/fitchpespectivaestable032015.pdf">
          Fitch Ratifica a Banco Ahorro Famsa en ‘BBB(mex)’ y ‘F3(mex)’; Perspectiva Estable
        </a>
      </td>
      <td>12-03-2015</td>
    </tr>

    <tr>
      <td>
        <a target="_blank" class=" " href="<%= @comunicados_path %>/FAMSA_PR-2015.pdf">
          Fitch Raitings ratifica calificación ‘BBB (mex)’ de Grupo Famsa; perspectiva Estable
        </a>
      </td>
      <td>10-03-2015</td>
    </tr>

    <tr>
      <td>
        <a target="_blank" class=" " href="<%= @comunicados_path %>/201525feb-GFAMSA-Evento-Relevante.pdf">
          Grupo Famsa aprueba fondo de recompra por P$300 millones
        </a>
      </td>
      <td>25-02-2015</td>
    </tr>

    <tr>
      <td>
        <a target="_blank" class=" " href="<%= @comunicados_path %>/201509feb-GFAMSA-Evento-Relevante-2.pdf">
          GFamsa convoca a sus accionistas a una asamblea general ordinaria de accionistas a fin de aprobar un fondo de recompra de $300 millones de pesos.
        </a>
      </td>
      <td>09-02-2015</td>
    </tr>

    <tr>
      <td>
        <a target="_blank" class=" " href="<%= @comunicados_path %>/201509feb-GFAMSA-Evento-Relevante.pdf">
          Aviso de convocatoria
        </a>
      </td>
      <td>09-02-2015</td>
    </tr>

    <tr>
      <td>
        <a target="_blank" class=" " href="<%= @comunicados_path %>/201519feb-GFAMSA-Evento-Relevante.pdf">
          movimientos inusitados en la negociación de los valores representativos del capital social de grupo Famsa, S.A.B. de C.V.
        </a>
      </td>
      <td>04-02-2015</td>
    </tr>

    <tr>
      <td>
        <a target="_blank" class=" " href="<%= @comunicados_path %>/GFAMSA-Evento-Relevante-02feb15.pdf">
          Movimientos Inusitados en la Negociación de los Valores Representativos del Capital Social de Grupo Famsa, S.A.B. de C.V.
        </a>
      </td>
      <td>04-02-2015</td>
    </tr>

    <tr>
      <td>
        <a target="_blank" class=" " href="<%= @comunicados_path %>/GFAMSA-evento-relevante-18dic14.pdf">
          GFamsa Suscribe Exitosamente $1,500 Millones de Pesos
        </a>
      </td>
      <td>18-12-2014</td>
    </tr>

    <tr>
      <td>
        <a target="_blank" class=" " href="<%= @comunicados_path %>/GFamsa-Evento-Relevante-16dic14.pdf">
          GFamsa Suscribe Exitosamente $1,500 Millones de Pesos
        </a>
      </td>
      <td>16-12-2014</td>
    </tr>

    <tr>
      <td>
        <a target="_blank" class=" " href="<%= @comunicados_path %>/GFAMSA-Evento-Relevante-01dic14.pdf">
          Fechas Relevantes Suscripción de Acciones
        </a>
      </td>
      <td>02-12-2014</td>
    </tr>

    <tr>
      <td>
        <a target="_blank" class=" " href="<%= @comunicados_path %>/0000009627-GFAMSA-Noticia-28nov14.pdf">
          Grupo Famsa expande su presencia en el país con la apertura de 8 tiendas y 8 sucursales bancarias en 2014
        </a>
      </td>
      <td>28-11-2014</td>
    </tr>

    <tr>
      <td>
        <a target="_blank" class=" " href="<%= @comunicados_path %>/GFAMSA-Evento-Relevante-25nov14.pdf">
          GFamsa aprueba aumento de capital hasta por $1,500 millones de pesos
        </a>
      </td>
      <td>25-11-2014</td>
    </tr>

    <tr>
      <td>
        <a target="_blank" class=" " href="<%= @comunicados_path %>/0000009627-GFAMSA-Noticia-20nov14.pdf">
          Famsa incrementa en 10% la venta de muebles durante el ‘buen fin 2014′
        </a>
      </td>
      <td>20-11-2014</td>
    </tr>

    <tr>
      <td>
        <a target="_blank" class=" " href="<%= @comunicados_path %>/GFAMSA-Anuncia-la-mec%C3%A1nica-para-suscripci%C3%B3n-de-acciones-a-ser-propuesta-el-pr%C3%B3ximo-25-de-noviembre-de-2014.pdf">
          GFamsa Anuncia la mecánica para suscripción de acciones a ser propuesta el próximo 25 de noviembre de 2014.
        </a>
      </td>
      <td>20-11-2014</td>
    </tr>

    <tr>
      <td>
        <a target="_blank" class=" " href="<%= @comunicados_path %>/0000009627-GFAMSA-Noticia-11nov14.pdf">
          GFamsa aumentará su capital hasta por $1,500 millones de pesos
        </a>
      </td>
      <td>11-11-2014</td>
    </tr>

    <tr>
      <td>
        <a target="_blank" class=" " href="<%= @comunicados_path %>/GFamsa-convoca-a-sus-accionistas-a-una-asamblea-general-ordinaria-de-accionistas-a-fin-de-aprobar-un-aumento-de-capital-hasta-por-1500-millones-de-pesos.pdf">
          GFamsa convoca a sus accionistas a una asamblea general ordinaria de accionistas a fin de aprobar un aumento de capital hasta por $1,500 millones de pesos.
        </a>
      </td>
      <td>10-11-2014</td>
    </tr>

    <tr>
      <td>
        <a target="_blank" class=" " href="<%= @comunicados_path %>/201509feb-GFAMSA-Evento-Relevante.pdf">
          (English) Standard & Poor´s: Grupo Famsa Outlook Revised To Negative From Positive; ‘B’ Corporate Credit Rating Affirmed
        </a>
      </td>
      <td>01-09-2014</td>
    </tr>

    <tr>
      <td>
        <a target="_blank" class=" " href="<%= @comunicados_path %>/0GFAMSA_Comunicado_140814.pdf">
          HR Ratings ratificó la calificación corporativa de LP de HR BBB para Grupo Famsa
        </a>
      </td>
      <td>19-08-2014</td>
    </tr>

    <tr>
      <td>
        <a target="_blank" class=" " href="<%= @comunicados_path %>/17-6-2014-es.pdf">
          GFamsa – Aviso con Fines Informativos Emision GFamsa14
        </a>
      </td>
      <td>17-07-2014</td>
    </tr>

    <tr>
      <td>
        <a target="_blank" class=" " href="<%= @comunicados_path %>/16-5-2014-es.pdf">
          S&P confirma calificación de B de Grupo Famsa
        </a>
      </td>
      <td>16-05-2014</td>
    </tr>

    <tr>
      <td>
        <a target="_blank" class=" " href="<%= @comunicados_path %>/21-3-2014-es.pdf">
          GFamsa anuncia amortización total de certificados bursátiles GFAMSA11
        </a>
      </td>
      <td>21-03-2014</td>
    </tr>

    <tr>
      <td>
        <a target="_blank" class=" " href="<%= @comunicados_path %>/12-3-2014-es.pdf">
          GFamsa anuncia el cierre de colocación por $1,000 millones de pesos
        </a>
      </td>
      <td>12-03-2014</td>
    </tr>

    <tr>
      <td>
        <a target="_blank" class=" " href="<%= @comunicados_path %>/30-1-2014-es.pdf">
          GFamsa — Reporte Diario de Operaciones en el Mercado; +1.67%
        </a>
      </td>
      <td>30-01-2014</td>
    </tr>

    <tr>
      <td>
        <a target="_blank" class=" " href="<%= @comunicados_path %>/29-1-2014-es.pdf">
          GFamsa – Reporte Diario de Operaciones en el Mercado;-1.51%
        </a>
      </td>
      <td>29-01-2014</td>
    </tr>

    <tr>
      <td>
        <a target="_blank" class=" " href="<%= @comunicados_path %>/28-1-2014-es.pdf">
          Reporte Diario de Operaciones en el Mercado; GFamsa +0.38%
        </a>
      </td>
      <td>28-01-2014</td>
    </tr>

    <tr>
      <td>
        <a target="_blank" class=" " href="<%= @comunicados_path %>/27-1-2014-es.pdf">
          Reporte Diario de Operaciones en el Mercado; GFamsa -0.38%
        </a>
      </td>
      <td>27-01-2014</td>
    </tr>

    <tr>
      <td>
        <a target="_blank" class=" " href="<%= @comunicados_path %>/24-1-2014-es.pdf">
          Reporte Diario de Operaciones en el Mercado; GFamsa +1.29%
        </a>
      </td>
      <td>24-01-2014</td>
    </tr>

    <tr>
      <td>
        <a target="_blank" class=" " href="<%= @comunicados_path %>/23-1-2014-es.pdf">
          Reporte Diario de Operaciones en el Mercado; GFamsa -3.37%
        </a>
      </td>
      <td>23-01-2014</td>
    </tr>

    <tr>
      <td>
        <a target="_blank" class=" " href="<%= @comunicados_path %>/28-11-2013-es.pdf">
          Reporte Diario de Operaciones en el Mercado; GFamsa +3.13%
        </a>
      </td>
      <td>28-11-2013</td>
    </tr>

    <tr>
      <td>
        <a target="_blank" class=" " href="<%= @comunicados_path %>/27-11-2013-es.pdf">
          Reporte Diario de Operaciones en el Mercado; GFamsa -1.22%
        </a>
      </td>
      <td>27-11-2013</td>
    </tr>

    <tr>
      <td>
        <a target="_blank" class=" " href="<%= @comunicados_path %>/22-11-2013-es.pdf">
          Reporte Diario de Operaciones en el Mercado; GFamsa -0.17%
        </a>
      </td>
      <td>22-11-2013</td>
    </tr>

    <tr>
      <td>
        <a target="_blank" class=" " href="<%= @comunicados_path %>/21-11-2013-es.pdf">
          Reporte Diario de Operaciones en el Mercado; GFamsa -0.70%
        </a>
      </td>
      <td>22-11-2013</td>
    </tr>

    <tr>
      <td>
        <a target="_blank" class=" " href="<%= @comunicados_path %>/20-11-2013-es.pdf">
          Reporte Diario de Operaciones en el Mercado; GFamsa -1.78%
        </a>
      </td>
      <td>20-11-2013</td>
    </tr>

    <tr>
      <td>
        <a target="_blank" class=" " href="<%= @comunicados_path %>/15-11-2013-es.pdf">
          Reporte Diario de Operaciones en el Mercado; GFamsa +3.28%
        </a>
      </td>
      <td>15-11-2013</td>
    </tr>

    <tr>
      <td>
        <a target="_blank" class=" " href="<%= @comunicados_path %>/14-11-2013-es.pdf">
          Reporte Diario de Operaciones en el Mercado; GFamsa +2.34%
        </a>
      </td>
      <td>14-11-2013</td>
    </tr>

    <tr>
      <td>
        <a target="_blank" class=" " href="<%= @comunicados_path %>/13-11-2013-es.pdf">
          Reporte Diario de Operaciones en el Mercado; GFamsa +3.47%
        </a>
      </td>
      <td>13-11-2013</td>
    </tr>

    <tr>
      <td>
        <a target="_blank" class=" " href="<%= @comunicados_path %>/12-11-2013-es.pdf">
          Reporte Diario de Operaciones en el Mercado; GFamsa -2.36%
        </a>
      </td>
      <td>12-11-2013</td>
    </tr>

    <tr>
      <td>
        <a target="_blank" class=" " href="<%= @comunicados_path %>/11-11-2013-es.pdf">
          Reporte Diario de Operaciones en el Mercado; GFamsa -0.34%
        </a>
      </td>
      <td>11-11-2015</td>
    </tr>

    <tr>
      <td>
        <a target="_blank" class=" " href="<%= @comunicados_path %>/08-11-2013-es.pdf">
          Reporte Diario de Operaciones en el Mercado; GFamsa -2.95%
        </a>
      </td>
      <td>08-11-2013</td>
    </tr>

    <tr>
      <td>
        <a target="_blank" class=" " href="<%= @comunicados_path %>/07-11-2013-es.pdf">
          Reporte Diario de Operaciones en el Mercado; GFamsa -0.08%
        </a>
      </td>
      <td>07-11-2013</td>
    </tr>

    <tr>
      <td>
        <a target="_blank" class=" " href="<%= @comunicados_path %>/06-11-2013-es.pdf">
          Reporte Diario de Operaciones en el Mercado; GFamsa +0.88%
        </a>
      </td>
      <td>06-11-2013</td>
    </tr>

    <tr>
      <td>
        <a target="_blank" class=" " href="<%= @comunicados_path %>/05-11-2013-es.pdf">
          Reporte Diario de Operaciones en el Mercado; GFamsa -2.33%
        </a>
      </td>
      <td>05-11-2013</td>
    </tr>

    <tr>
      <td>
        <a target="_blank" class=" " href="<%= @comunicados_path %>/04-11-2013-es.pdf">
          Reporte Diario de Operaciones en el Mercado; GFamsa -0.41%
        </a>
      </td>
      <td>04-11-2013</td>
    </tr>

    <tr>
      <td>
        <a target="_blank" class=" " href="<%= @comunicados_path %>/01-11-2013-es.pdf">
          Reporte Diario de Operaciones en el Mercado; GFamsa +0.20%
        </a>
      </td>
      <td>01-11-2013</td>
    </tr>

    <tr>
      <td>
        <a target="_blank" class=" " href="<%= @comunicados_path %>/103113-Grupo-Famsa-S.A.B.-de-C.V.-Anuncia-Baja-de-Avalistas-de-los-Certificados-Burs%C3%A1tiles-Gfamsa-11.pdf">
          Grupo Famsa, S.A.B. de C.V. Anuncia Baja de Avalistas de los Certificados Bursátiles Gfamsa 11
        </a>
      </td>
      <td>31-10-2013</td>
    </tr>

    <tr>
      <td>
        <a target="_blank" class=" " href="<%= @comunicados_path %>/31-10-2013-es.pdf">
          Grupo Famsa, S.A.B. de C.V. Anuncia una Fusión por Incorporación Acordada con Algunas de sus Subsidiarias
        </a>
      </td>
      <td>31-10-2013</td>
    </tr>

    <tr>
      <td>
        <a target="_blank" class=" " href="<%= @comunicados_path %>/29-10-2013-es.pdf">
          Reporte Diario de Operaciones en el Mercado; GFamsa +0.56%
        </a>
      </td>
      <td>29-10-2013</td>
    </tr>

    <tr>
      <td>
        <a target="_blank" class=" " href="<%= @comunicados_path %>/28-10-2013-es.pdf">
          Reporte Diario de Operaciones en el Mercado; GFamsa +2.86%
        </a>
      </td>
      <td>28-10-2013</td>
    </tr>

    <tr>
      <td>
        <a target="_blank" class=" " href="<%= @comunicados_path %>/25-10-2013-es.pdf">
          GFamsa Anuncia Inclusión de Nuevo Avalista de los Certificados Bursátiles GFamsa 11
        </a>
      </td>
      <td>25-10-2013</td>
    </tr>

    <tr>
      <td>
        <a target="_blank" class=" " href="<%= @comunicados_path %>/24-10-2013-es.pdf">
          Reporte Diario de Operaciones en el Mercado; GFamsa -2.97%
        </a>
      </td>
      <td>24-10-2013</td>
    </tr>

    <tr>
      <td>
        <a target="_blank" class=" " href="<%= @comunicados_path %>/23-10-2013-es.pdf">
          Reporte Diario de Operaciones en el Mercado; GFamsa +2.23%
        </a>
      </td>
      <td>23-10-2013</td>
    </tr>

    <tr>
      <td>
        <a target="_blank" class=" " href="<%= @comunicados_path %>/22-10-2013-es.pdf">
          Reporte Diario de Operaciones en el Mercado; GFamsa +3.81%
        </a>
      </td>
      <td>22-10-2013</td>
    </tr>

    <tr>
      <td>
        <a target="_blank" class=" " href="<%= @comunicados_path %>/21-10-2013-es.pdf">
          Reporte Diario de Operaciones en el Mercado; GFamsa +0.67%
        </a>
      </td>
      <td>21-10-2013</td>
    </tr>

    <tr>
      <td>
        <a target="_blank" class=" " href="<%= @comunicados_path %>/18-10-2013-es.pdf">
          Reporte Diario de Operaciones en el Mercado; GFamsa +0.59%
        </a>
      </td>
      <td>18-10-2013</td>
    </tr>

    <tr>
      <td>
        <a target="_blank" class=" " href="<%= @comunicados_path %>/17-10-2013-es.pdf">
          Reporte Diario de Operaciones en el Mercado; GFamsa -0.79%
        </a>
      </td>
      <td>17-10-2013</td>
    </tr>

    <tr>
      <td>
        <a target="_blank" class=" " href="<%= @comunicados_path %>/16-10-2013-es.pdf">
          Reporte Diario de Operaciones en el Mercado; GFamsa +0.42%
        </a>
      </td>
      <td>16-10-2013</td>
    </tr>

    <tr>
      <td>
        <a target="_blank" class=" " href="<%= @comunicados_path %>/15-10-2013-es.pdf">
          Reporte Diario de Operaciones en el Mercado; GFamsa -1.68%
        </a>
      </td>
      <td>15-10-2013</td>
    </tr>

    <tr>
      <td>
        <a target="_blank" class=" " href="<%= @comunicados_path %>/14-10-2013-es.pdf">
          Reporte Diario de Operaciones en el Mercado; GFamsa +2.22%
        </a>
      </td>
      <td>14-10-2013</td>
    </tr>

    <tr>
      <td>
        <a target="_blank" class=" " href="<%= @comunicados_path %>/11-10-2013-es.pdf">
          Reporte Diario de Operaciones en el Mercado; GFamsa -1.12%
        </a>
      </td>
      <td>11-10-2013</td>
    </tr>

    <tr>
      <td>
        <a target="_blank" class=" " href="<%= @comunicados_path %>/10-10-2013-es.pdf">
          Banco Famsa Inaugura su Nuevo Edificio Corporativo
        </a>
      </td>
      <td>10-10-2013</td>
    </tr>

    <tr>
      <td>
        <a target="_blank" class=" " href="<%= @comunicados_path %>/09-10-2013-es.pdf">
          Reporte Diario de Operaciones en el Mercado; GFamsa -1.38%
        </a>
      </td>
      <td>09-10-2013</td>
    </tr>

    <tr>
      <td>
        <a target="_blank" class=" " href="<%= @comunicados_path %>/08-10-2013-es.pdf">
          Reporte Diario de Operaciones en el Mercado; GFamsa -2.93%
        </a>
      </td>
      <td>08-10-2013</td>
    </tr>

    <tr>
      <td>
        <a target="_blank" class=" " href="<%= @comunicados_path %>/07-10-2013-es.pdf">
          Reporte Diario de Operaciones en el Mercado; GFamsa -4.61%
        </a>
      </td>
      <td>07-10-2013</td>
    </tr>

    <tr>
      <td>
        <a target="_blank" class=" " href="<%= @comunicados_path %>/04-10-2013-es.pdf">
          Reporte Diario de Operaciones en el Mercado; GFamsa -1.26%
        </a>
      </td>
      <td>04-10-2013</td>
    </tr>

    <tr>
      <td>
        <a target="_blank" class=" " href="<%= @comunicados_path %>/03-10-2013-es.pdf">
          Reporte Diario de Operaciones en el Mercado; GFamsa -0.42%
        </a>
      </td>
      <td>03-10-2013</td>
    </tr>

    <tr>
      <td>
        <a target="_blank" class=" " href="<%= @comunicados_path %>/02-10-2013-es.pdf">
          Grupo Famsa Crece 54% su Red de Sucursales Bancarias en México
        </a>
      </td>
      <td>02-10-2013</td>
    </tr>

    <tr>
      <td>
        <a target="_blank" class=" " href="<%= @comunicados_path %>/29-9-2013-es.pdf">
          GFamsa Anuncia Arranque de Operaciones de Negocio Prendario
        </a>
      </td>
      <td>01-10-2013</td>
    </tr>

    <tr>
      <td>
        <a target="_blank" class=" " href="<%= @comunicados_path %>/01-10-2013-es.pdf">
          Reporte Diario de Operaciones en el Mercado; GFamsa -0.04%
        </a>
      </td>
      <td>01-10-2013</td>
    </tr>

    <tr>
      <td>
        <a target="_blank" class=" " href="<%= @comunicados_path %>/30-9-2013-es.pdf">
          Reporte Diario de Operaciones en el Mercado; GFamsa +3.58%
        </a>
      </td>
      <td>30-09-2013</td>
    </tr>

    <tr>
      <td>
        <a target="_blank" class=" " href="<%= @comunicados_path %>/27-9-2013-es.pdf">
          Reporte Diario de Operaciones en el Mercado; GFamsa -2.28%
        </a>
      </td>
      <td>27-09-2013</td>
    </tr>

    <tr>
      <td>
        <a target="_blank" class=" " href="<%= @comunicados_path %>/26-9-2013-es.pdf">
          Reporte Diario de Operaciones en el Mercado; GFamsa +1.40%
        </a>
      </td>
      <td>26-09-2013</td>
    </tr>

    <tr>
      <td>
        <a target="_blank" class=" " href="<%= @comunicados_path %>/25-9-2013-es.pdf">
          Reporte Diario de Operaciones en el Mercado; GFamsa -0.79%
        </a>
      </td>
      <td>25-09-2013</td>
    </tr>

    <tr>
      <td>
        <a target="_blank" class=" " href="<%= @comunicados_path %>/24-9-2013-es.pdf">
          Reporte Diario de Operaciones en el Mercado; GFamsa -2.32%
        </a>
      </td>
      <td>24-09-2013</td>
    </tr>

    <tr>
      <td>
        <a target="_blank" class=" " href="<%= @comunicados_path %>/23-9-2013-es.pdf">
          Reporte Diario de Operaciones en el Mercado; GFamsa -0.58%
        </a>
      </td>
      <td>23-09-2013</td>
    </tr>

    <tr>
      <td>
        <a target="_blank" class=" " href="<%= @comunicados_path %>/20-9-2013-es.pdf">
          Reporte Diario de Operaciones en el Mercado; GFamsa -2.0%
        </a>
      </td>
      <td>20-09-2013</td>
    </tr>

    <tr>
      <td>
        <a target="_blank" class=" " href="<%= @comunicados_path %>/19-9-2013-es.pdf">
          Reporte Diario de Operaciones en el Mercado; GFamsa +0.61%
        </a>
      </td>
      <td>19-09-2013</td>
    </tr>

    <tr>
      <td>
        <a target="_blank" class=" " href="<%= @comunicados_path %>/18-9-2013-es.pdf">
          Reporte Diario de Operaciones en el Mercado; GFamsa +0.61%
        </a>
      </td>
      <td>18-09-2013</td>
    </tr>

    <tr>
      <td>
        <a target="_blank" class=" " href="<%= @comunicados_path %>/17-9-2013-es.pdf">
          Reporte Diario de Operaciones en el Mercado; GFamsa +0.46%
        </a>
      </td>
      <td>17-09-2013</td>
    </tr>

    <tr>
      <td>
        <a target="_blank" class=" " href="<%= @comunicados_path %>/13-9-2013-es.pdf">
          Reporte Diario de Operaciones en el Mercado; GFamsa +0.19%
        </a>
      </td>
      <td>13-09-2013</td>
    </tr>

    <tr>
      <td>
        <a target="_blank" class=" " href="<%= @comunicados_path %>/12-9-2013-es.pdf">
          Reporte Diario de Operaciones en el Mercado; GFamsa -2.25%
        </a>
      </td>
      <td>12-09-2013</td>
    </tr>

    <tr>
      <td>
        <a target="_blank" class=" " href="<%= @comunicados_path %>/10-9-2013-es.pdf">
          Reporte Diario de Operaciones en el Mercado; GFamsa +1.58%
        </a>
      </td>
      <td>10-09-2013</td>
    </tr>

    <tr>
      <td>
        <a target="_blank" class=" " href="<%= @comunicados_path %>/09-9-2013-es.pdf">
          Reporte Diario de Operaciones en el Mercado; GFamsa +0.93%
        </a>
      </td>
      <td>09-09-2013</td>
    </tr>

    <tr>
      <td>
        <a target="_blank" class=" " href="<%= @comunicados_path %>/05-9-2013-es.pdf">
          Reporte Diario de Operaciones en el Mercado; GFamsa -3.01%
        </a>
      </td>
      <td>05-09-2013</td>
    </tr>

    <tr>
      <td>
        <a target="_blank" class=" " href="<%= @comunicados_path %>/04-9-2013-es.pdf">
          Reporte Diario de Operaciones en el Mercado; GFamsa +0.34%
        </a>
      </td>
      <td>04-09-2013</td>
    </tr>

    <tr>
      <td>
        <a target="_blank" class=" " href="<%= @comunicados_path %>/03-9-2013-es.pdf">
          Reporte Diario de Operaciones en el Mercado; GFamsa -0.83%
        </a>
      </td>
      <td>03-09-2013</td>
    </tr>

    <tr>
      <td>
        <a target="_blank" class=" " href="<%= @comunicados_path %>/02-9-2013-es.pdf">
          Grupo Famsa Incursiona en el Negocio Prendario y Acelera su Plan de Expansión con la Adquisición de al menos 167 Sucursales
        </a>
      </td>
      <td>02-09-2013</td>
    </tr>

    <tr>
      <td>
        <a target="_blank" class=" " href="<%= @comunicados_path %>/02-09-13-es-2.pdf">
          Reporte Diario de Operaciones en el Mercado; GFamsa -2.54%
        </a>
      </td>
      <td>02-09-2013</td>
    </tr>

    <tr>
      <td>
        <a target="_blank" class=" " href="<%= @comunicados_path %>/30-8-2013-es.pdf">
          Reporte Diario de Operaciones en el Mercado; GFamsa -0.04%
        </a>
      </td>
      <td>30-08-2013</td>
    </tr>

    <tr>
      <td>
        <a target="_blank" class=" " href="<%= @comunicados_path %>/28-8-2013-es.pdf">
          Reporte Diario de Operaciones en el Mercado; GFamsa +2.41%
        </a>
      </td>
      <td>28-08-2013</td>
    </tr>

    <tr>
      <td>
        <a target="_blank" class=" " href="<%= @comunicados_path %>/27-8-2013-es.pdf">
          Reporte Diario de Operaciones en el Mercado; GFamsa -1.96%
        </a>
      </td>
      <td>27-09-2013</td>
    </tr>

    <tr>
      <td>
        <a target="_blank" class=" " href="<%= @comunicados_path %>/26-8-2013-es.pdf">
          Reporte Diario de Operaciones en el Mercado; GFamsa -4.50%
        </a>
      </td>
      <td>26-09-2013</td>
    </tr>

    <tr>
      <td>
        <a target="_blank" class=" " href="<%= @comunicados_path %>/23-8-2013-es.pdf">
          Reporte Diario de Operaciones en el Mercado; GFamsa +0.23%
        </a>
      </td>
      <td>23-08-2013</td>
    </tr>

    <tr>
      <td>
        <a target="_blank" class=" " href="<%= @comunicados_path %>/22-8-2013-es.pdf">
          Reporte Diario de Operaciones en el Mercado; GFamsa -0.60%
        </a>
      </td>
      <td>22-08-2013</td>
    </tr>

    <tr>
      <td>
        <a target="_blank" class=" " href="<%= @comunicados_path %>/21-8-2013-es.pdf">
          Reporte Diario de Operaciones en el Mercado; GFamsa -2.19%
        </a>
      </td>
      <td>21-08-2013</td>
    </tr>

    <tr>
      <td>
        <a target="_blank" class=" " href="<%= @comunicados_path %>/20-8-2013-es.pdf">
          Reporte Diario de Operaciones en el Mercado; GFamsa +1.45%
        </a>
      </td>
      <td>20-08-2013</td>
    </tr>

    <tr>
      <td>
        <a target="_blank" class=" " href="<%= @comunicados_path %>/19-8-2013-es.pdf">
          Reporte Diario de Operaciones en el Mercado; GFamsa -0.33%
        </a>
      </td>
      <td>19-08-2013</td>
    </tr>

    <tr>
      <td>
        <a target="_blank" class=" " href="<%= @comunicados_path %>/16-8-2013-es.pdf">
          Reporte Diario de Operaciones en el Mercado; GFamsa +1.01%
        </a>
      </td>
      <td>16-09-2013</td>
    </tr>

    <tr>
      <td>
        <a target="_blank" class=" " href="<%= @comunicados_path %>/22-7-2013-es.pdf">
          Grupo Famsa anuncia la conclusión de la amortización de sus bonos senior 11.00% con vencimiento en 2015
        </a>
      </td>
      <td>22-07-2013</td>
    </tr>

    <tr>
      <td>
        <a target="_blank" class=" " href="<%= @comunicados_path %>/25-6-2013-es.pdf">
          Conferencia Telefónica 2T13
        </a>
      </td>
      <td>25-06-2013</td>
    </tr>

    <tr>
      <td>
        <a target="_blank" class=" " href="<%= @comunicados_path %>/31-05-13-es.pdf">
          Cierre Exitoso de la Oferta de Notas Senior.
        </a>
      </td>
      <td>31-05-2013</td>
    </tr>

    <tr>
      <td>
        <a target="_blank" class=" " href="<%= @comunicados_path %>/29-05-13-es.pdf">
          Resultados de Participación Temprana de Oferta de Adquisición.
        </a>
      </td>
      <td>29-05-2013</td>
    </tr>

    <tr>
      <td>
        <a target="_blank" class=" " href="<%= @comunicados_path %>/15-05-13-es.pdf">
          Grupo Famsa anuncia oferta de adquisición para sus bonos senior 11% con vencimiento en 2015.
        </a>
      </td>
      <td>15-05-2013</td>
    </tr>

    <tr>
      <td>
        <a target="_blank" class=" " href="<%= @comunicados_path %>/06-01-12-es.pdf">
          Grupo Famsa hace un comunicado en referencia al incendio ocurrido en Enero 2012.
        </a>
      </td>
      <td>06-01-2012</td>
    </tr>

    <tr>
      <td>
        <a target="_blank" class=" " href="<%= @comunicados_path %>/25-03-11-es.pdf">
          Grupo Famsa anuncia la colocación exitosa de P$1,000 millones en Certificados Bursátiles para refinanciamiento
        </a>
      </td>
      <td>25-03-2011</td>
    </tr>

    <tr>
      <td>
        <a target="_blank" class=" " href="<%= @comunicados_path %>/21-07-10-es.pdf">
          Grupo Famsa, S.A.B. de C.V. anuncia la colocación exitosa de deuda senior por US$200 millones
        </a>
      </td>
      <td>21-07-2010</td>
    </tr>

    <tr>
      <td>
        <a target="_blank" class=" " href="<%= @comunicados_path %>/13-08-09-es.pdf">
          Grupo Famsa anuncia la suscripción y pago, así como la asignación exitosa del 100% de las acciones objeto del Aumento de Capital
        </a>
      </td>
      <td>13-08-2009</td>
    </tr>

    <tr>
      <td>
        <a target="_blank" class=" " href="<%= @comunicados_path %>/17-07-09-es.pdf">
          Grupo Famsa S.A.B. de C.V. anuncia aprobación de Aumento de Capital.
        </a>
      </td>
      <td>17-07-2009</td>
    </tr>

    <tr>
      <td>
        <a target="_blank" class=" " href="<%= @comunicados_path %>/08-07-09-es.pdf">
          Grupo Famsa S.A.B. de C.V. anuncia compromisos de suscripción de acciones por al menos P$900 millones.
        </a>
      </td>
      <td>08-07-2009</td>
    </tr>

    <tr>
      <td>
        <a target="_blank" class=" " href="<%= @comunicados_path %>/07-07-09-es.pdf">
          Presentación Corporativa Grupo Famsa.
        </a>
      </td>
      <td>07-07-2009</td>
    </tr>

    <tr>
      <td>
        <a target="_blank" class=" " href="<%= @comunicados_path %>/asamblea-02-07-09-es.pdf">
          Convocatoria para Asamblea General Ordinaria de Accionistas.
        </a>
      </td>
      <td>02-07-2009</td>
    </tr>

    <tr>
      <td>
        <a target="_blank" class=" " href="<%= @comunicados_path %>/04-02-09-es.pdf">
          Banco Ahorro Famsa logra sus metas en el 2008.
        </a>
      </td>
      <td>04-02-2009</td>
    </tr>

    <tr>
      <td>
        <a target="_blank" class=" " href="<%= @comunicados_path %>/08-10-08-es.pdf">
          Grupo Famsa SAB de CV informa al público inversionista sobre su situación financiera
        </a>
      </td>
      <td>08-10-2008</td>
    </tr>

    <tr>
      <td>
        <a target="_blank" class=" " href="<%= @comunicados_path %>/12-05-08-es.pdf">
          Creación de fondo de recompra de acciones
        </a>
      </td>
      <td>12-05-2008</td>
    </tr>

    <tr>
      <td>
        <a target="_blank" class=" " href="<%= @comunicados_path %>/24-01-08-es.pdf">
          Adquisición de los activos de Edelstein′s Better Furniture, Ltd. a través de Famsa, Inc.
        </a>
      </td>
      <td>24-01-2008</td>
    </tr>

    <tr>
      <td>
        <a target="_blank" class=" " href="<%= @comunicados_path %>/23-01-08-es.pdf">
          Nuevos nombramientos en el Consejo de Administración y en Equipo Directivo de Banco Ahorro Famsa
        </a>
      </td>
      <td>23-01-2008</td>
    </tr>

    <tr>
      <td>
        <a target="_blank" class=" " href="<%= @comunicados_path %>/14-03-07-es.pdf">
          Adquisición de los activos de “La Canasta ” en la Unión Americana
        </a>
      </td>
      <td>14-03-2007</td>
    </tr>

    <tr>
      <td>
        <a target="_blank" class=" " href="<%= @comunicados_path %>/26-01-07-es.pdf">
          Aviso de inicio de operaciones de Banco Ahorro Famsa
        </a>
      </td>
      <td>26-01-2007</td>
    </tr>

    <tr>
      <td>
        <a target="_blank" class=" " href="<%= @comunicados_path %>/11-01-07-es.pdf">
          GFamsa es incluida en la lista de valores que conforman el IPC de la Bolsa Mexicana de Valores
        </a>
      </td>
      <td>11-01-2007</td>
    </tr>

    <tr>
      <td>
        <a target="_blank" class=" " href="<%= @comunicados_path %>/21-12-06-es.pdf">
          Comunicación del accionista en lo previsto en el Art. 7mo. Transitorio de la Ley del Mercado de Valores
        </a>
      </td>
      <td>21-12-2006</td>
    </tr>

    <tr>
      <td>
        <a target="_blank" class=" " href="<%= @comunicados_path %>/30-11-06-es.pdf">
          Aviso de enajenación de acciones de GFamsa
        </a>
      </td>
      <td>30-11-2006</td>
    </tr>

    <tr>
      <td>
        <a target="_blank" class=" " href="<%= @comunicados_path %>/02-10-06-es.pdf">
          Autorización por parte de la SHCP para la organización y operación de una institución de banca múltiple
        </a>
      </td>
      <td>02-08-2006</td>
    </tr>

    <tr>
      <td>
        <a target="_blank" class=" " href="<%= @comunicados_path %>/17-10-2013-es.pdf">
          Acuerdo definitivo para la postura en precio de la acción en la Bolsa Mexicana de Valores
        </a>
      </td>
      <td>17-10-2013</td>
    </tr>

    <tr>
      <td>
        <a target="_blank" class=" " href="<%= @comunicados_path %>/18-05-06-es.pdf">
          Reporte Diario de Operaciones en el Mercado; GFamsa -0.79%
        </a>
      </td>
      <td>18-05-2006</td>
    </tr>


    </tbody>

  </table>
</div>
