<!--Doctype-->
<%= erb :"global/bloques/doctype" %>

<!-- BEGIN HEAD CADU-->

<%= erb :"global/bloques/head" %>


<body class="c-layout-header-fixed c-layout-header-6-topbar" xmlns="http://www.w3.org/1999/html">
<!-- BEGIN: LAYOUT/HEADERS/HEADER-2 CADU -->
<!-- BEGIN: HEADER 2 -->
<%= erb :"global/bloques/header2" %>
<!-- END: HEADER 2 -->
<!-- END: LAYOUT/HEADERS/HEADER-2 CADU-->



<!-- BEGIN: LAYOUT/SIDEBARS/QUICK-SIDEBAR -->
<%= erb :"global/bloques/extra_sidebar" %>
<!-- END: LAYOUT/SIDEBARS/QUICK-SIDEBAR -->
<!-- BEGIN: PAGE CONTAINER -->
<div class="c-layout-page">
  <!-- BEGIN: PAGE CONTENT -->
  <!-- BEGIN: LAYOUT/SLIDERS/REVO-SLIDER-9 -->
      <!-- LayerSlider start -->
  <section class="slider-1">
      <div id="layerslider" style="width:100%;height:400px;top: 0">




        <!-- slider 1 -->
        <div class="ls-slide" data-ls="slidedelay: 7000; transition2d: 75,79;">


          <img src="/assets/cadu/images/portada/slider/slider4.jpg" class="ls-bg" alt="Slide background" style="width: 100%"/>

          <div class="ls-l h h4" style="
          top: 150px;
                  left: 50%;
                  color: #0157A0;
                  padding: 5px;
                  font-size: 44px;
          " data-ls="
					offsetxin: 0;
					offsetxout: 300;
					offsetyin: top;
					offsetyout: 300;
					durationin: 2000;
					durationout: 2000;
					delayin: 500;
					rotateyin: 60;">
				<h3 class="c-main-title c-font-bold c-font-uppercase c-font-naranja" style="text-align: center; margin: 0 auto;">
        <!-- <a href="http://cdn.investorcloud.net/cadu/Comunicados/2017-10-05-Invitación-Teleconferencia-3T17.pdf" target="_blank"> -->

           MODELO
            DE NEGOCIOS FUNDAMENTADO EN </br>RENTABILIDAD Y CIMENTADO
            EN UNA   <br/> ESTRUCTURA ÁGIL Y LIGERA
           <!-- Invitación a la Conferencia </br>Telefónica de Resultados</br> del
           Tercer Trimestre de 2017 -->
          <!-- </a> -->

          </h3>

          </div>
        </div>
      </div>
      <!-- LayerSlider end -->

    <!--</div>-->
  <!--</section>-->
  </section>
  <!-- END: LAYOUT/SLIDERS/REVO-SLIDER-9 -->
  <!-- BEGIN: CONTENT/BARS/BAR-3 -->
  <div class="c-content-box c-size-cero c-bg-dark">
    <div class="container">
      <div class="c-content-bar-3">
        <div class="row">
          <div class="col-md-8 col-sm-8">
            <div class="c-content-title-1 al1">
              <div class="row">
                <div class="col-xs-12 col-sm-9">
                  <h3 class="c-font-uppercase c-font-bold al1 " style="font-size: 20px;color: white;">
                    Informe de resultados 4T23
                  </h3>
                </div>
                  <div class="col-xs-12 col-sm-3">
                    <button type="button" onclick="window.open('http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesTrimestrales/Informes/2023-4T23.pdf','_blank'); ga('send', 'event','Inversionistas', 'Reportes trimestrales' ,'invitacion 3T18');" class="btn btn-sm c-btn-square c-btn-border-2x c-theme-btn c-btn-uppercase c-btn-bold" style="margin-top:4px;">Descargar</button>
                  </div>
                </div>
              <!--<div class="row">
                  <div class="col-xs-12 col-sm-9">
                    <h3 class="c-font-uppercase c-font-bold al1 " style="font-size: 20px;color: white;">
                      Conferencia de resultados 4T23
                    </h3>
                  </div>
                    <div class="col-xs-12 col-sm-3">
                      <button type="button" onclick="window.open('http://cdn.investorcloud.net/cadu/Comunicados/2024-02-19-CADU-Invitacion-4T23.pdf','_blank'); ga('send', 'event','Inversionistas', 'Reportes trimestrales' ,'invitacion 1T17');" class=" btn btn-sm c-btn-square c-btn-border-2x c-theme-btn c-btn-uppercase c-btn-bold" style="margin-top:4px;">Descargar</button>
                    </div>
                  </div>-->
               <div class="row">
                  <div class="col-xs-12 col-sm-9">
                    <h3 class="c-font-uppercase c-font-bold al1 " style="font-size: 20px;color: white;">
                      Catálogo de proyectos
                    </h3>
                  </div>
                    <div class="col-xs-12 col-sm-3">
                      <button type="button" onclick="window.open('https://investorcloud.s3.amazonaws.com/cadu/Marketing/Vivienda-2022-CADU.pdf','_blank'); ga('send', 'event','Inversionistas', 'Reportes trimestrales' ,'invitacion 1T17');" class=" btn btn-sm c-btn-square c-btn-border-2x c-theme-btn c-btn-uppercase c-btn-bold" style="margin-top:4px;">Descargar</button>
                    </div>
                  </div>
                  <br>
              <!-- <h3 class="c-font-uppercase c-font-bold al1" style="font-size: 27px">Informe de Resultados 4T16</h3> -->


              <!-- <h3 class="c-font-uppercase c-font-bold al1" style="font-size: 20px">Invitación a teleconferencia 2T18  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <button type="button" onclick="window.open('http://cdn.investorcloud.net/cadu/Comunicados/2018-07-18-CADU-Invitacio%CC%81n-2T18.pdf','_blank'); ga('send', 'event','Inversionistas', 'Reportes trimestrales' ,'invitacion 1T17');" class="btn btn-sm c-btn-square c-btn-border-2x c-theme-btn c-btn-uppercase c-btn-bold">Descargar</button></h3>-->

            <!---<h3 class="c-font-uppercase c-font-bold al1" style="font-size: 20px">Conferencia de resultados 2T20 <button type="button" onclick="window.open('http://cdn.investorcloud.net/cadu/Comunicados/2020-07-16-CADU-Invitacion-2T20.pdf','_blank'); ga('send', 'event','Inversionistas', 'Reportes trimestrales' ,'invitacion 1T17');" class="margir btn btn-sm c-btn-square c-btn-border-2x c-theme-btn c-btn-uppercase c-btn-bold ">Descargar</button></h3>-->

              <!-- <div class="c-content-v-center" style="height: 90px;">
                <div class="c-wrapper">
                  <div class="c-body">
                    <button type="button" onclick="window.open('http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesTrimestrales/Informes/2016-4T16.pdf','_blank'); ga('send', 'event','Inversionistas', 'Reportes trimestrales' ,'Reporte de resultados 4T16');" class="btn btn-md c-btn-square c-btn-border-2x c-theme-btn c-btn-uppercase c-btn-bold">Descargar</button>
                    <button type="button" onclick="window.open('http://cdn.investorcloud.net/cadu/Comunicados/2017-04-10-Invitacion-CC-1T17.pdf','_blank'); ga('send', 'event','Inversionistas', 'Reportes trimestrales' ,'invitacion 1T17');" class="btn btn-md c-btn-square c-btn-border-2x c-theme-btn c-btn-uppercase c-btn-bold">Descargar</button>

                    <button type="button" onclick="window.open('/es/video','_blank'); ga('send', 'event','Inversionistas', 'Reportes trimestrales' ,'Reporte de resultados 2T16');" class="btn btn-md c-btn-square c-btn-border-2x c-theme-btn c-btn-uppercase c-btn-bold"> <i class="fa fa-play-circle"></i> Video a inversionistas</button>

                  </div>
                </div>
              </div> -->
            </div>
          </div>
          <div class="col-md-4 col-sm-4">
            <div class="ticker-fp" id="portada-ticker">

              <div id="tikcer-fs-line">

                <div class="col-md-3 col-sm-3 hidden-xs">
                  <img src="/assets/cadu/images/portada/bmv2.png" style="width:119%" alt=""/>
                </div>
                <div class="col-md-9 col-sm-9 col-xs-12" style="color: #FFFFFF">
                  <span style="font-size: 24px; font-weight: 400;"> CADUA </span>
                  <span style="font-size: 22px;" id="price-ticker"> </span>
<!--                  <span id="arrow-change" style="font-size: 15px;"></span>-->
<!--                  <span style="font-size: 15px;" id="change-ticker">  </span>-->
                  <h6 class="ticker-data">Volumen: <span id="volume-ticker">  </span></h6>
                  <h6 class="ticker-data">Min-Max: <span id="range-ticker"> </span></h6>
                  <h6 class="ticker-data"><span id="date-ticker" style="margin-left: 0px;"> </span></h6>
                </div>
              </div>


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END: CONTENT/BARS/ -->
  <!-- BEGIN: CONTENT/MISC/ABOUT-3 -->
  <div class="c-content-box c-size-md c-bg-white">
    <div class="container ">
      <div class="c-content-title-1">
        <h3 class=" c-font-uppercase c-font-bold">Segmentos de negocio</h3>

        <div class="c-line-left c-theme-bg"></div>
      </div>
      <div class="row">
        <div class="col-sm-8 wow animate fadeInLeft espacio30">
          <div class="c-content-tab-4 c-opt-3" role="tabpanel">
            <ul class="nav nav-justified" role="tablist">
              <li role="presentation" class="active">
                <a href="/#tab-33" role="tab" data-toggle="tab" class="c-font-16">RESIDENCIAL</a>
              </li>
              <li role="presentation">
                <a href="/#tab-32" role="tab" data-toggle="tab" class="c-font-16">MEDIO-RESIDENCIAL</a>
              </li>
              <li role="presentation">
                <a href="/#tab-31" role="tab" data-toggle="tab" class="c-font-16">MEDIO</a>
              </li>
              <li role="presentation">
                <a href="/#tab-30" role="tab" data-toggle="tab" class="c-font-16">INTERÉS SOCIAL</a>
              </li>


            </ul>
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane fade in active" id="tab-33">
                <ul class="c-tab-items">
                  <li class="row">
                    <div class="col-sm-3 hidden-xs">
                      <div class="c-photo">
                        <img class="img-responsive" width="150" height="100" src="/assets/cadu/images/content/c5.jpg" alt=""/>
                      </div>
                    </div>
                    <div class="col-sm-9 col-xs-12">


                      <p class="c-font-16">En este segmento de negocio nos enfocamos a viviendas en un rango de precio superior a los Ps.5.0 millones
                        (las primeras unidades de este segmento comenzaron a comercializarse durante el ejercicio 2017 en Q. Roo).</p>

                      <p>Nuestro producto en este segmento se diferencia por la originalidad de su concepto y alta calidad de amenidades.</p>
                    </div>
                  </li>

                </ul>
              </div>

              <div role="tabpanel" class="tab-pane fade" id="tab-32">
                <ul class="c-tab-items">
                  <li class="row">
                    <div class="col-sm-3 hidden-xs">
                      <div class="c-photo">
                        <img class="img-responsive" width="150" height="100" src="/assets/cadu/images/content/c6.JPG" alt=""/>
                      </div>
                    </div>
                    <div class="col-sm-9 col-xs-12">


                      <p class="c-font-16">Los prototipos en este segmento de vivienda tienen precios promedio que van desde Ps.2.5 millones hasta Ps.5 millones,
                        buscando atender a un mercado de compradores que buscan una casa de mayor valor, generalmente apoyados por la banca comercial.</p>
                    </div>
                  </li>

                </ul>
              </div>

              <div role="tabpanel" class="tab-pane fade" id="tab-30">
                <ul class="c-tab-items">
                  <li class="row">
                    <div class="col-sm-3 hidden-xs">
                      <div class="c-photo">
                        <img class="img-responsive" width="150" height="100" src="/assets/cadu/images/content/c8.jpg" alt=""/>
                      </div>
                    </div>
                    <div class="col-sm-9 col-xs-12">


                      <p class="c-font-16">En este segmento de negocio nos enfocamos a proyectos de vivienda (menos de Ps.1 millón),
                        orientados a trabajadores asalariados que están comprando su primera casa. Nuestros proyectos buscan fomentar el
                        desarrollo urbano integral sustentable, a través de un crecimiento ordenado, con óptimos estándares en:</p>
                    </div>
                  </li>
                  <br><br>
                  <li class="row">
                    <div class="col-sm-3 hidden-xs">

                    </div>
                    <div class=" list-is col-sm-9 col-xs-12">
                      <div class="row">
                        <div class="col-md-4 col-sm-5">
                          <ul class="c-content-list-1 c-theme c-separator-dot">
                            <li>Ubicación</li>
                            <li>Densificación</li>
                          </ul>
                        </div>
                        <div class="col-md-8 col-sm-7">
                          <ul class="c-content-list-1 c-theme c-separator-dot">
                            <li>Equipamiento</li>
                            <li>Sustentabilidad</li>
                          </ul>
                        </div>
                      </div>

                    </div>
                  </li>

                </ul>
              </div>
              <div role="tabpanel" class="tab-pane fade" id="tab-31">
                <ul class="c-tab-items">
                  <li class="row">
                    <div class="col-sm-3 hidden-xs">
                      <div class="c-photo">
                        <img class="img-responsive" width="150" height="100" src="/assets/cadu/images/content/c7.jpg" alt=""/>
                      </div>
                    </div>
                    <div class="col-sm-9 col-xs-12">


                      <p class="c-font-16">En este segmento de negocio nos enfocamos a proyectos de vivienda en un espectro de precios, que va de
                        Ps.1 millón a Ps.2.5 millones, buscando usualmente atender a primeros y segundos compradores de vivienda, los cuales generalmente
                        son financiados por bancos. </p>

                      <p>Desde 2007, CADU comenzó a participar en estos desarrollos, habiendo concluido exitosamente proyectos en Quintana Roo y Jalisco;
                        hallando siempre una buena aceptación en su mercado objetivo.</p>
                    </div>
                  </li>

                </ul>
              </div>
            </div>
          </div>
        </div>

        <!-- datos -->


        <div class="col-sm-4 wow animate fadeInRight">
          <div class="row">
            <div class="col-md-6 c-font-uppercase c-font-bold">Ingresos UDM:</div>
            <div class="col-md-6 c-right c-font-uppercase c-font-bold">4,506 Millones</div>
          </div>
          <div class="c-content-divider c-divider-sm c-right c-bg-red">
            <i class="icon-dot c-bg-red c-square"></i>
          </div>
          <div class="row">
            <div class="col-md-6 c-font-uppercase c-font-bold">EBITDA UDM:</div>
            <div class="col-md-6 c-right c-font-uppercase c-font-bold">745 Millones</div>
          </div>
          <div class="c-content-divider c-divider-sm c-left c-bg-red">
            <i class="icon-dot c-bg-red c-square"></i>
          </div>
          <div class="row">
            <div class="col-md-6 c-font-uppercase c-font-bold">Utilidad Neta UDM:</div>
            <div class="col-md-6 c-right c-font-uppercase c-font-bold">302 Millones</div>
          </div>
          <div class="c-content-divider c-divider-sm c-right c-bg-red">
            <i class="icon-dot c-bg-red c-square"></i>
          </div>
          <div class="row">
            <div class="col-md-6 c-font-uppercase c-font-bold">Deuda	neta / EBITDA UDM:</div>
            <div class="col-md-6 c-right c-font-uppercase c-font-bold">2.12</div>
          </div>
          <div class="c-content-divider c-divider-sm c-left c-bg-red">
            <i class="icon-dot c-bg-red c-square"></i>
          </div>
            <p class="c-font-16">Cifras en MXN al 31 de diciembre de 2023</p>
        </div>

      </div>
    </div>
  </div>
  <!-- END: CONTENT/MISC/ABOUT-3 -->
  <!-- BEGIN: CONTENT/BLOG/RECENT-POSTS -->
  <div class="c-content-box c-size-cero c-bg-grey-1">
    <div class="container">
      <!-- Begin: Testimonals 1 component -->
      <div class="c-content-blog-post-card-1-slider" data-slider="owl" data-items="3" data-auto-play="8000">
        <!-- Begin: Title 1 component -->
        <div class="c-content-title-1">
          <h3 class="c-center c-font-uppercase c-font-bold">Documentos Destacados</h3>

          <div class="c-line-center c-theme-bg"></div>
        </div>
        <!-- End-->
        <!-- Begin: Owlcarousel -->
        <div class="owl-carousel owl-theme c-theme">

        <div class="item">
        <div class="c-content-blog-post-card-1 c-option-2">
          <div class="c-media c-content-overlay">
            <div class="c-overlay-wrapper">
              <div class="c-overlay-content">
                <a target="_blank" onclick="ga('send', 'event','Inversionistas', 'Reportes trimestrales Teleconferencia' ,'Reporte de resultados 4T17');" href="http://cdn.investorcloud.net/cadu/Presentaciones/Factsheet-4T23-es.pdf">
                  <i class="icon-link"></i>
                </a>

              </div>
            </div>
            <img class="c-overlay-object img-responsive" src="/assets/cadu/images/content/img-2T20.jpg" alt="">
          </div>
          <div class="c-body">
            <div class="c-title c-font-uppercase c-font-bold">
              <a target="_blank" onclick="ga('send', 'event','Inversionistas', 'Reportes trimestrales Teleconferencia' ,'Reporte de resultados 2T18');" href="http://cdn.investorcloud.net/cadu/Presentaciones/Factsheet-4T23-es.pdf">
                Factsheet 4T23</a>
            </div>
            <div class="c-author">
              <!--<a href="#">-->
              <!--<span class="c-font-uppercase">Mary Jane</span>-->
              <!--</a> on-->
              <span class="c-font-uppercase">Feb 2024</span>
              <br> &nbsp;
            </div>

          </div>
        </div>
      </div>

      <div class="item">
      <div class="c-content-blog-post-card-1 c-option-2">
        <div class="c-media c-content-overlay">
          <div class="c-overlay-wrapper">
            <div class="c-overlay-content">
              <a target="_blank" onclick="ga('send', 'event','Inversionistas', 'Reportes trimestrales Teleconferencia' ,'Reporte de resultados 3T18');" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesTrimestrales/Informes/2023-4T23.pdf">
                <i class="icon-link"></i>
              </a>

            </div>
          </div>
          <img class="c-overlay-object img-responsive" src="/assets/cadu/images/content/img-4T21.png" alt="">
        </div>
        <div class="c-body">
          <div class="c-title c-font-uppercase c-font-bold">
            <a target="_blank" onclick="ga('send', 'event','Inversionistas', 'Reportes trimestrales Teleconferencia' ,'Reporte de resultados 3T18');" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesTrimestrales/Informes/2023-4T23.pdf">
            Informe 4T23</a>
          </div>
          <div class="c-author">
            <!--<a href="#">-->
            <!--<span class="c-font-uppercase">Mary Jane</span>-->
            <!--</a> on-->
            <span class="c-font-uppercase">Feb 2024</span>
            <br> &nbsp;
          </div>


        </div>
      </div>
    </div>

          <div class="item">
            <div class="c-content-blog-post-card-1 c-option-2">
              <div class="c-media c-content-overlay">
                <div class="c-overlay-wrapper">
                  <div class="c-overlay-content">
                    <a target="_blank" onclick="ga('send', 'event','Inversionistas', 'Reportes trimestrales Teleconferencia' ,'Reporte de resultados 3T18');" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesTrimestrales/Informes/2023-3T23.pdf">
                      <i class="icon-link"></i>
                    </a>

                  </div>
                </div>
                <img class="c-overlay-object img-responsive" src="/assets/cadu/images/content/img-3T21.png" alt="">
              </div>
              <div class="c-body">
                <div class="c-title c-font-uppercase c-font-bold">
                  <a target="_blank" onclick="ga('send', 'event','Inversionistas', 'Reportes trimestrales Teleconferencia' ,'Reporte de resultados 3T18');" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesTrimestrales/Informes/2023-3T23.pdf">
                    Informe 3T23</a>
                </div>
                <div class="c-author">
                  <!--<a href="#">-->
                  <!--<span class="c-font-uppercase">Mary Jane</span>-->
                  <!--</a> on-->
                  <span class="c-font-uppercase">Oct 2023</span>
                  <br> &nbsp;
                </div>


              </div>
            </div>
          </div>

          <div class="item">
            <div class="c-content-blog-post-card-1 c-option-2">
              <div class="c-media c-content-overlay">
                <div class="c-overlay-wrapper">
                  <div class="c-overlay-content">
                    <a target="_blank" onclick="ga('send', 'event','Inversionistas', 'Reportes trimestrales Teleconferencia' ,'Reporte de resultados 3T18');" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesTrimestrales/Informes/2023-2T23.pdf">
                      <i class="icon-link"></i>
                    </a>

                  </div>
                </div>
                <img class="c-overlay-object img-responsive" src="/assets/cadu/images/content/FS-1T22.png" alt="">
              </div>
              <div class="c-body">
                <div class="c-title c-font-uppercase c-font-bold">
                  <a target="_blank" onclick="ga('send', 'event','Inversionistas', 'Reportes trimestrales Teleconferencia' ,'Reporte de resultados 3T18');" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesTrimestrales/Informes/2023-2T23.pdf">
                  Informe 2T23 </a>
                </div>
                <div class="c-author">
                  <!--<a href="#">-->
                  <!--<span class="c-font-uppercase">Mary Jane</span>-->
                  <!--</a> on-->
                  <span class="c-font-uppercase">Jul 2023</span>
                  <br> &nbsp;
                </div>


              </div>
            </div>
          </div>



          <div class="item">
            <div class="c-content-blog-post-card-1 c-option-2">
              <div class="c-media c-content-overlay">
                <div class="c-overlay-wrapper">
                  <div class="c-overlay-content">
                    <a target="_blank" onclick="ga('send', 'event','Inversionistas', 'Reportes trimestrales Teleconferencia' ,'Reporte de resultados 3T18');" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesTrimestrales/Informes/2023-1T23.pdf">
                      <i class="icon-link"></i>
                    </a>

                  </div>
                </div>
                <img class="c-overlay-object img-responsive" src="/assets/cadu/images/content/img-1T22.png" alt="">
              </div>
              <div class="c-body">
                <div class="c-title c-font-uppercase c-font-bold">
                  <a target="_blank" onclick="ga('send', 'event','Inversionistas', 'Reportes trimestrales Teleconferencia' ,'Reporte de resultados 3T18');" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesTrimestrales/Informes/2023-1T23.pdf">
                  Informe 1T23 </a>
                </div>
                <div class="c-author">
                  <!--<a href="#">-->
                  <!--<span class="c-font-uppercase">Mary Jane</span>-->
                  <!--</a> on-->
                  <span class="c-font-uppercase">Abr 2023</span>
                  <br> &nbsp;
                </div>


              </div>
            </div>
          </div>

          <div class="item">
              <div class="c-content-blog-post-card-1 c-option-2">
                <div class="c-media c-content-overlay">
                  <div class="c-overlay-wrapper">
                    <div class="c-overlay-content">
                      <a href="http://iaicadu2016.investorcloud.net" target="_blank" onclick="ga('send', 'event','Inversionistas', 'Reportes Anuales' ,'Reporte anual 2016');">
                      <a href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesAnuales/2022-Sustentabilidad-.pdf" class="btn btn-sm c-btn-white c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square" target="_blank">Informe anual</a></br></br>

                        <!-- <a href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesAnuales/2016-Anual.pdf" class="btn btn-sm c-btn-white c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square" target="_blank">Reporte anual BMV</a> -->
                      </a>

                    </div>
                  </div>
                  <img class="c-overlay-object img-responsive" src="/assets/cadu/images/content/reporte_sustentabilidad_2022.png" alt=""></div>
              <div class="c-body">
                <div class="c-title c-font-uppercase c-font-bold">
                <a target="_blank" onclick="ga('send', 'event','Inversionistas', 'Reportes Anuales' ,'Reporte anual 2015');" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesAnuales/2022-Sustentabilidad-.pdf">Reporte de Sustentabilidad 2022</a>
                </div>
                <div class="c-author">

                  <span class="c-font-uppercase">Mayo 2023</span>
                </div>

              </div>
            </div>
          </div>


        </div>
        <!-- End-->
      </div>
      <!-- End-->
    </div>
  </div>
  <!-- END: CONTENT/BLOG/RECENT-POSTS -->
  <!-- BEGIN: CONTENT/PRODUCTS/PRODUCT-1 -->
  <div class="c-content-box c-size-md c-bg-white c-no-bottom-padding espacio30">
    <div class="container">
      <div class="c-content-product-1 c-opt-1">
        <div class="c-content-title-1">
          <h3 class="c-center c-font-uppercase c-font-bold">Racional de inversión</h3>

          <div class="c-line-center"></div>
        </div>
        <div class="row">
          <div class="col-md-4 wow animate slideInUp">
            <div class="c-media text-center">
              <img class="img-responsive center-block" src="/assets/cadu/images/content/modelo360.png" alt=""/>
            <a href="/es/video" class="text-center"><i class="fa fa-play-circle"></i> Conozca nuestro video para inversionistas</a></br>
              <!--<a href="http://www.vectoronline.com.mx/analisis/Docs/2019/05/ADJ/3034625_2_ATTACH.pdf?cuentari=0x0000000000852521" class="text-center"><i class="fa fa-file-pdf-o"></i> CADU: Inicio de Cobertura (Vector Análisis)</a>-->
            </div>
          </div>
          <div class="col-md-8">
            <div class="c-body">
              <ul class="c-row">

                <li class="wow animate fadeInUp">
                  <h4>Experiencia</h4>

                  <p>Nuestros directivos cuentan con una amplia experiencia en el sector y en la Compañía </p>
                </li>
                <li class="wow animate fadeInUp">
                  <h4>Integración</h4>

                  <p>Cubrimos la mayor parte del proceso de desarrollo, desde la adquisición de terrenos hasta la comercialización de
                    vivienda</p>
                </li>
              </ul>
              <ul class="c-row">
                <li class="wow animate fadeInUp">
                  <h4>Coyuntura</h4>

                  <p>Recuperación del crédito hipotecario bancario e impulso gubernamental a vivienda de mayor
                    calidad</p>
                </li>
                <li class="wow animate fadeInUp">
                  <h4>Flexibilidad</h4>

                  <p>Estructura ligera adaptable a desarrollos para diferentes segmentos (Interés Social, Medio, Medio-Residencial y
                    Residencial)</p>
                </li>
              </ul>
              <ul class="c-row">
                <li class="wow animate fadeInUp">
                  <h4>Control</h4>

                  <p>Procesos de vanguardia en planeación, monitoreo y generación de información clave para toma de
                    decisiones</p>
                </li>
                <li class="wow animate fadeInUp">
                  <h4>Consolidación</h4>

                  <p>Contamos con sólidas economías de escala y alcance en mercados vibrantes, con alto potencial de demanda</p>
                </li>
              </ul>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- END: PAGE CONTENT -->
</div>
<!-- END: PAGE CONTAINER -->
<!-- BEGIN: LAYOUT/FOOTERS/FOOTER-CADU -->
<%= erb :"global/bloques/footer2" %>
<!-- END: LAYOUT/FOOTERS/FOOTER-7 -->
<!-- BEGIN: LAYOUT/FOOTERS/TOP -->
<%= erb :"global/bloques/go2top" %>

<!-- BEGIN: POPUP -->
<!---<div class="modal" tabindex="-1" role="dialog" id="indexModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <a href="http://cdn.investorcloud.net/cadu/Comunicados/2020-12-16-bono-verde.pdf" target="_blank">
      <img class="img-responsive" width="100%" height="100%" src="/assets/cadu/images/popup.png" alt=""/>
      </a>
    </div>
  </div>
</div>-->
<!-- END: POPUP -->




<!-- END: LAYOUT/FOOTERS/GO2TOP -->
<!-- BEGIN: LAYOUT/BASE/BOTTOM -->
<!-- BEGIN: CORE PLUGINS -->
<%= erb :"global/bloques/javascript" %>
<!-- END: PAGE SCRIPTS  CADU-->
<!-- END: LAYOUT/BASE/BOTTOM -->
</body>

</html>
