<!--Doctype-->
<%= erb :"global/bloques/doctype" %>

<!-- BEGIN HEAD -->

<%= erb :"global/bloques/head" %>


<body class="c-layout-header-fixed c-layout-header-6-topbar" xmlns="http://www.w3.org/1999/html">
<!-- BEGIN: LAYOUT/HEADERS/HEADER-2 -->
<!-- BEGIN: HEADER 2 -->
<%= erb :"global/bloques/header2" %>
<!-- END: HEADER 2 -->
<!-- END: LAYOUT/HEADERS/HEADER-2 -->
<!-- BEGIN: CONTENT/USER/FORGET-PASSWORD-FORM -->
<div class="modal fade c-content-login-form" id="forget-password-form" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content c-square">
      <div class="modal-header c-no-border">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h3 class="c-font-24 c-font-sbold">Password Recovery</h3>

        <p>To recover your password please fill in your email address</p>

        <form>
          <div class="form-group">
            <label for="forget-email" class="hide">Email</label>
            <input type="email" class="form-control input-lg c-square" id="forget-email" placeholder="Email"></div>
          <div class="form-group">
            <button type="submit" class="btn c-theme-btn btn-md c-btn-uppercase c-btn-bold c-btn-square c-btn-login">Submit</button>
            <a href="javascript:;" class="c-btn-forgot" data-toggle="modal" data-target="#login-form" data-dismiss="modal">Back
              To Login</a>
          </div>
        </form>
      </div>
      <div class="modal-footer c-no-border">
        <span class="c-text-account">Don't Have An Account Yet ?</span>
        <a href="javascript:;" data-toggle="modal" data-target="#signup-form" data-dismiss="modal" class="btn c-btn-dark-1 btn c-btn-uppercase c-btn-bold c-btn-slim c-btn-border-2x c-btn-square c-btn-signup">Signup!</a>
      </div>
    </div>
  </div>
</div>
<!-- END: CONTENT/USER/FORGET-PASSWORD-FORM -->
<!-- BEGIN: CONTENT/USER/SIGNUP-FORM -->
<div class="modal fade c-content-login-form" id="signup-form" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content c-square">
      <div class="modal-header c-no-border">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h3 class="c-font-24 c-font-sbold">Create An Account</h3>

        <p>Please fill in below form to create an account with us</p>

        <form>
          <div class="form-group">
            <label for="signup-email" class="hide">Email</label>
            <input type="email" class="form-control input-lg c-square" id="signup-email" placeholder="Email"></div>
          <div class="form-group">
            <label for="signup-username" class="hide">Username</label>
            <input type="email" class="form-control input-lg c-square" id="signup-username" placeholder="Username">
          </div>
          <div class="form-group">
            <label for="signup-fullname" class="hide">Fullname</label>
            <input type="email" class="form-control input-lg c-square" id="signup-fullname" placeholder="Fullname">
          </div>
          <div class="form-group">
            <label for="signup-country" class="hide">Country</label>
            <select class="form-control input-lg c-square" id="signup-country">
              <option value="1">Country</option>
            </select>
          </div>
          <div class="form-group">
            <button type="submit" class="btn c-theme-btn btn-md c-btn-uppercase c-btn-bold c-btn-square c-btn-login">Signup</button>
            <a href="javascript:;" class="c-btn-forgot" data-toggle="modal" data-target="#login-form" data-dismiss="modal">Back
              To Login</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- END: CONTENT/USER/SIGNUP-FORM -->
<!-- BEGIN: CONTENT/USER/LOGIN-FORM -->
<div class="modal fade c-content-login-form" id="login-form" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content c-square">
      <div class="modal-header c-no-border">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h3 class="c-font-24 c-font-sbold">Good Afternoon!</h3>

        <p>Let's make today a great day!</p>

        <form>
          <div class="form-group">
            <label for="login-email" class="hide">Email</label>
            <input type="email" class="form-control input-lg c-square" id="login-email" placeholder="Email"></div>
          <div class="form-group">
            <label for="login-password" class="hide">Password</label>
            <input type="password" class="form-control input-lg c-square" id="login-password" placeholder="Password">
          </div>
          <div class="form-group">
            <div class="c-checkbox">
              <input type="checkbox" id="login-rememberme" class="c-check">
              <label for="login-rememberme" class="c-font-thin c-font-17">
                <span></span>
                <span class="check"></span>
                <span class="box"></span> Remember Me </label>
            </div>
          </div>
          <div class="form-group">
            <button type="submit" class="btn c-theme-btn btn-md c-btn-uppercase c-btn-bold c-btn-square c-btn-login">Login</button>
            <a href="javascript:;" data-toggle="modal" data-target="#forget-password-form" data-dismiss="modal" class="c-btn-forgot">Forgot
              Your Password ?</a>
          </div>
          <div class="clearfix">
            <div class="c-content-divider c-divider-sm c-icon-bg c-bg-grey c-margin-b-20">
              <span>or signup with</span>
            </div>
            <ul class="c-content-list-adjusted">
              <li>
                <a class="btn btn-block c-btn-square btn-social btn-twitter">
                  <i class="fa fa-twitter"></i> Twitter </a>
              </li>
              <li>
                <a class="btn btn-block c-btn-square btn-social btn-facebook">
                  <i class="fa fa-facebook"></i> Facebook </a>
              </li>
              <li>
                <a class="btn btn-block c-btn-square btn-social btn-google">
                  <i class="fa fa-google"></i> Google </a>
              </li>
            </ul>
          </div>
        </form>
      </div>
      <div class="modal-footer c-no-border">
        <span class="c-text-account">Don't Have An Account Yet ?</span>
        <a href="javascript:;" data-toggle="modal" data-target="#signup-form" data-dismiss="modal" class="btn c-btn-dark-1 btn c-btn-uppercase c-btn-bold c-btn-slim c-btn-border-2x c-btn-square c-btn-signup">Signup!</a>
      </div>
    </div>
  </div>
</div>
<!-- END: CONTENT/USER/LOGIN-FORM -->
<!-- BEGIN: LAYOUT/SIDEBARS/QUICK-SIDEBAR -->
<%= erb :"global/bloques/extra_sidebar" %>
<!-- END: LAYOUT/SIDEBARS/QUICK-SIDEBAR -->
<!-- BEGIN: PAGE CONTAINER -->
<div class="c-layout-page">
  <!-- BEGIN: PAGE CONTENT -->
  <!-- BEGIN: LAYOUT/SLIDERS/REVO-SLIDER-9 -->
  <section class="c-layout-revo-slider c-layout-revo-slider-9">
    <div class="tp-banner-container tp-fullscreen tp-fullscreen-mobile">
      <div class="tp-banner rev_slider" data-version="5.0">
        <ul>
          <!--BEGIN: SLIDE #1 -->
          <li data-transition="fade" data-slotamount="1" data-masterspeed="1000">
            <img alt="" src="/assets/cadu/images/portada/slider/bg-page-top.jpg" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">
            <!--BEGIN: MAIN TITLE -->
            <div class="tp-caption customin customout tp-resizeme" data-x="center" data-y="center" data-hoffset="[-10,-300, -100, -100]" data-voffset="-120" data-speed="500" data-start="1000" data-transform_in="x:0;y:0;z:0;rotationX:0.5;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;:s:500;e:Back.easeInOut;"
                 data-transform_out="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;s:600;e:Back.easeInOut;" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1"
                 data-endspeed="600">
              <h3 class="c-main-title c-font-44 c-font-bold c-font-uppercase c-font-white" style="text-align: center; margin: 0 auto;">MODELO
                DE NEGOCIOS FUNDAMENTADO EN RENTABILIDAD Y CIMENTADO
                <br/> EN UNA ESTRUCTURA ÁGIL Y LIGERA</h3>
            </div>
            <!--END -->
            <!--BEGIN: SUB TITLE -->
            <!--<div class="tp-caption customin customout tp-resizeme" data-x="center" data-y="center" data-hoffset="[-370,-370, -170, -170]" data-voffset="-110" data-speed="500" data-start="1500" data-transform_in="x:0;y:0;z:0;rotationX:0.5;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;s:500;e:Back.easeInOut;"-->
            <!--data-transform_out="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;s:600;e:Back.easeInOut;" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1"-->
            <!--data-endspeed="600">-->
            <!--<p class="c-sub-title c-font-24 c-font-white"> Lorem ipsum dolor sit amet, consectet-->
            <!--<br> Dolor sit amet, consectetuer nibh-->
            <!--<br> elit sed diam nonummy-->
            <!--<br></p>-->
            <!--</div>-->
            <!--END -->
            <!--BEGIN: ACTION BUTTON -->
            <!--<div class="tp-caption randomrotateout tp-resizeme" data-x="center" data-y="center" data-hoffset="[-460,-470, -270, -270]" data-voffset="-20" data-speed="500" data-start="2000" data-transform_in="x:0;y:0;z:0;rotationX:0.5;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;s:500;e:Back.easeInOut;"-->
            <!--data-transform_out="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;s:600;e:Back.easeInOut;">-->
            <!--<a href="#" class="c-action-btn btn btn-xlg c-btn-square c-btn-bold c-btn-border-2x c-btn-white c-btn-uppercase">Explore</a>-->
            <!--</div>-->
            <!--END -->
          </li>
          <!--END -->
          <!--BEGIN: SLIDE #2 -->
          <!--<li data-transition="fade" data-slotamount="1" data-masterspeed="1000">-->
          <!--<img alt="" src="assets/base/img/content/backgrounds/bg-61.jpg" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">-->
          <!--&lt;!&ndash;BEGIN: MAIN TITLE &ndash;&gt;-->
          <!--<div class="tp-caption customin customout tp-resizeme" data-x="center" data-y="center" data-hoffset="[-350,-350, -150, -150]" data-voffset="-180" data-speed="500" data-start="1000" data-transform_in="x:0;y:0;z:0;rotationX:0.5;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;s:500;e:Back.easeInOut;"-->
          <!--data-transform_out="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;s:600;e:Back.easeInOut;" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1"-->
          <!--data-endspeed="600">-->
          <!--<h3 class="c-main-title c-font-44 c-font-bold c-font-uppercase c-font-white"> HTML Theme Of 2015 </h3>-->
          <!--</div>-->
          <!--&lt;!&ndash;END &ndash;&gt;-->
          <!--&lt;!&ndash;BEGIN: SUB TITLE &ndash;&gt;-->
          <!--<div class="tp-caption customin customout tp-resizeme" data-x="center" data-y="center" data-hoffset="[-345,-345, -145, -145]" data-voffset="-70" data-speed="500" data-start="1500" data-transform_in="x:0;y:0;z:0;rotationX:0.5;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;s:500;e:Back.easeInOut;"-->
          <!--data-transform_out="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;s:600;e:Back.easeInOut;" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1"-->
          <!--data-endspeed="600">-->
          <!--<p class="c-sub-title c-font-24 c-font-white"> Lorem ipsum dolor sit amet, consectetuer et-->
          <!--<br> Dolor sit amet, consectetuer et nibh-->
          <!--<br> elit sed diam nonummy et nibh-->
          <!--<br></p>-->
          <!--</div>-->
          <!--&lt;!&ndash;END &ndash;&gt;-->
          <!--&lt;!&ndash;BEGIN: ACTION BUTTON &ndash;&gt;-->
          <!--<div class="tp-caption randomrotateout tp-resizeme" data-x="center" data-y="center" data-hoffset="[-470,-470, -270, -270]" data-voffset="45" data-speed="500" data-start="2000" data-transform_in="x:0;y:0;z:0;rotationX:0.5;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;s:500;e:Back.easeInOut;"-->
          <!--data-transform_out="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;s:600;e:Back.easeInOut;">-->
          <!--<a href="#" class="c-action-btn btn btn-xlg c-btn-square c-btn-bold c-btn-border-2x c-theme-btn c-btn-uppercase">Explore</a>-->
          <!--</div>-->
          <!--&lt;!&ndash;END &ndash;&gt;-->
          <!--</li>-->
          <!--END -->
        </ul>
      </div>
    </div>
  </section>
  <!-- END: LAYOUT/SLIDERS/REVO-SLIDER-9 -->
  <!-- BEGIN: CONTENT/BARS/BAR-3 -->
  <div class="c-content-box c-size-md c-bg-dark">
    <div class="container">
      <div class="c-content-bar-3">
        <div class="row">
          <div class="col-md-8 col-sm-8">
            <div class="c-content-title-1">
              <h3 class="c-font-uppercase c-font-bold">INFORME DE RESULTADOS 1T16</h3>

              <div class="c-content-v-center" style="height: 90px;">
                <div class="c-wrapper">
                  <div class="c-body">
                    <button type="button" class="btn btn-md c-btn-square c-btn-border-2x c-theme-btn c-btn-uppercase c-btn-bold">Descargar</button>
                  </div>
                </div>
              </div>
            </div>
            </div>
            <div class="col-md-4 col-sm-4">
              <!--<div class="c-content-v-center" style="height: 90px;">-->
              <!--<div class="c-wrapper">-->
              <!--<div class="c-body">-->
              <!--<button type="button" class="btn btn-md c-btn-square c-btn-border-2x c-theme-btn c-btn-uppercase c-btn-bold">Formulario</button>-->
              <!--</div>-->
              <!--</div>-->
              <!--</div>-->
              <div class="ticker-fp" id="portada-ticker">


                <div id="tikcer-fs-line">

                  <div class="col-md-3 col-sm-3 hidden-xs">
                    <img src="/assets/cadu/images/portada/bmv2.png" style="width:119%" alt=""/>
                  </div>
                  <div class="col-md-9 col-sm-9 col-xs-12" style="color: #FFFFFF">
                            <span style="font-size: 24px; font-weight: 400;"> CADU </span>
                            <span style="font-size: 22px;" id="price-ticker"> </span>
                            <span style="font-size: 15px;">▲</span>
                            <span style="font-size: 15px;" id="change-ticker">  </span>
                            <h6 class="ticker-data">Volumen: <span id="volume-ticker">  </span></h6>
                            <h6 class="ticker-data">Min-Max: <span id="range-ticker"> </span></h6>
                            <h6 class="ticker-data"><span id="date-ticker" style="margin-left: 0px;"> </span></h6>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- END: CONTENT/BARS/BAR-3 -->
    <!-- BEGIN: CONTENT/MISC/ABOUT-3 -->
    <div class="c-content-box c-size-md c-bg-white">
      <div class="container ">
        <div class="row">
          <div class="col-sm-8 wow animate fadeInLeft espacio30">
            <div class="c-content-tab-4 c-opt-3" role="tabpanel">
              <ul class="nav nav-justified" role="tablist">
                <li role="presentation" class="active">
                  <a href="/#tab-31" role="tab" data-toggle="tab" class="c-font-16">INTERÉS SOCIAL</a>
                </li>
                <li role="presentation">
                  <a href="/#tab-32" role="tab" data-toggle="tab" class="c-font-16">MEDIO-RESIDENCIAL</a>
                </li>
                <!--<li role="presentation">-->
                <!--<a href="/#tab-33" role="tab" data-toggle="tab" class="c-font-16">VALORES</a>-->
                <!--</li>-->
              </ul>
              <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="tab-31">
                  <ul class="c-tab-items">
                    <li class="row">
                      <div class="col-sm-3 hidden-xs">
                        <div class="c-photo">
                          <img class="img-responsive" width="150" height="100" src="/assets/cadu/images/content/mision3.jpg" alt=""/>
                        </div>
                      </div>
                      <div class="col-sm-9 col-xs-12">
                        <!--<h4 class="c-font-20">Lorem Ipsum</h4>-->

                        <p class="c-font-16">En este segmento de negocio nos enfocamos a proyectos de vivienda (hasta
                          Ps.500,000.00), orientados a trabajadores asalariados que están comprando su primera casa.
                          Nuestros proyectos buscan fomentar el desarrollo urbano integral sustentable, a través de un
                          crecimiento ordenado, a través de óptimos estándares en:</p>
                      </div>
                    </li>
                    <li class="row">
                      <div class="col-sm-3 hidden-xs">

                      </div>
                      <div class="col-sm-9 col-xs-12" style="margin-top: -40px">
                        <div class="row">
                          <div class="col-md-4">
                            <ul class="c-content-list-1 c-theme c-separator-dot">
                              <li>Ubicación</li>
                              <li>Densificación</li>
                            </ul>
                          </div>
                          <div class="col-md-8">
                            <ul class="c-content-list-1 c-theme c-separator-dot">
                              <li>Equipamiento</li>
                              <li>Sustentabilidad</li>
                            </ul>
                          </div>
                        </div>

                      </div>
                    </li>
                    <!--<li class="row">-->
                    <!--<div class="col-sm-4 col-xs-5">-->
                    <!--<div class="c-photo">-->
                    <!--<img class="img-responsive" width="150" height="100" src="/assets/cadu/images/content/mision4.jpg" alt=""/>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--<div class="col-sm-8 col-xs-7">-->
                    <!--<h4 class="c-font-20">Dolore Sit Amet</h4>-->

                    <!--<p class="c-font-16">Lorem ipsum dolor sit amet et consectetuer elit sed nonummy nib esuismod-->
                    <!--tincid unt laoreet dolore sit amet conectetuer ed dolore sit amet esmod conctetuer adipiscing-->
                    <!--lorem ipsum eit noummy tinid laoreet-->
                    <!--dolore.</p>-->
                    <!--</div>-->
                    <!--</li>-->
                  </ul>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="tab-32">
                  <ul class="c-tab-items">
                    <li class="row">
                      <div class="col-sm-3 hidden-xs">
                        <div class="c-photo">
                          <img class="img-responsive" width="150" height="100" src="/assets/cadu/images/content/vision3.jpg" alt=""/>
                        </div>
                      </div>
                      <div class="col-sm-9 col-xs-12">
                        <!--<h4 class="c-font-20">Lorem Ipsum</h4>-->

                        <p class="c-font-16">En este segmento de negocio nos enfocamos a proyectos de vivienda en un
                          rango amplio de precios que puede superar los Ps.3 millones. El grueso de estos proyectos los
                          concentramos, actualmente, en un rango que va de los Ps.600,000 a Ps. 1.3 millones, aunque
                          también, contamos con un número significativo de proyectos en el rango de los Ps.1.3 millones
                          a los Ps.3 millones. </p>
                          <p>Desde su constitución, CADU ha participado de manera activa en este
                            segmento, habiendo desarrollado proyectos significativos en los estados de Quintana Roo y
                            Jalisco, mismos que se han diferenciado por la originalidad de su concepto y la alta calidad
                            de sus amenidades.</p>
                      </div>
                    </li>

                  </ul>
                </div>
                <!--<div role="tabpanel" class="tab-pane fade" id="tab-33">-->
                <!--<ul class="c-tab-items">-->
                <!--<li class="row">-->
                <!--<div class="col-sm-4 col-xs-5">-->
                <!--<div class="c-photo">-->
                <!--<img class="img-responsive" width="150" height="100" src="/assets/cadu/images/content/valores3.jpg" alt=""/>-->
                <!--</div>-->
                <!--</div>-->
                <!--<div class="col-sm-8 col-xs-7">-->
                <!--<h4 class="c-font-20">Lorem Ipsum</h4>-->

                <!--<p class="c-font-16">Lorem ipsum dolor sit amet et consectetuer elit sed nonummy nib esuismod-->
                <!--tincid unt laoreet dolore sit amet conectetuer ed dolore sit amet esmod conctetuer adipiscing-->
                <!--lorem ipsum eit noummy tinid laoreet-->
                <!--dolore.</p>-->
                <!--</div>-->
                <!--</li>-->
                <!--<li class="row">-->
                <!--<div class="col-sm-4 col-xs-5">-->
                <!--<div class="c-photo">-->
                <!--<img class="img-responsive" width="150" height="100" src="/assets/cadu/images/content/valores4.jpg" alt=""/>-->
                <!--</div>-->
                <!--</div>-->
                <!--<div class="col-sm-8 col-xs-7">-->
                <!--<h4 class="c-font-20">Dolore Sit Amet</h4>-->

                <!--<p class="c-font-16">Lorem ipsum dolor sit amet et consectetuer elit sed nonummy nib esuismod-->
                <!--tincid unt laoreet dolore sit amet conectetuer ed dolore sit amet esmod conctetuer adipiscing-->
                <!--lorem ipsum eit noummy tinid laoreet-->
                <!--dolore.</p>-->
                <!--</div>-->
                <!--</li>-->
                <!--</ul>-->
                <!--</div>-->
              </div>
            </div>
          </div>
          <div class="col-sm-4 wow animate fadeInRight">
            <!-- Begin: Title 1 component -->
            <!--<div class="c-content-title-1">-->
              <!--<h3 class="c-font-uppercase c-font-bold">Nosotros</h3>-->

              <!--<div class="c-line-left c-theme-bg"></div>-->
            <!--</div>-->
            <!-- End-->
            <div class="row">
              <div class="col-md-6 c-font-uppercase c-font-bold">Ventas Netas UDM:</div>
              <div class="col-md-6 c-right c-font-uppercase c-font-bold">XXX Millones</div>
            </div>
            <div class="c-content-divider c-divider-sm c-right c-bg-red">
              <i class="icon-dot c-bg-red c-square"></i>
            </div>
            <div class="row">
              <div class="col-md-6 c-font-uppercase c-font-bold">UAFIDA UDM:</div>
              <div class="col-md-6 c-right c-font-uppercase c-font-bold">XXX Millones</div>
            </div>
            <div class="c-content-divider c-divider-sm c-left c-bg-red">
              <i class="icon-dot c-bg-red c-square"></i>
            </div>
            <div class="row">
              <div class="col-md-6 c-font-uppercase c-font-bold">Utilidad Neta UDM:</div>
              <div class="col-md-6 c-right c-font-uppercase c-font-bold">XXX Millones</div>
            </div>
            <div class="c-content-divider c-divider-sm c-right c-bg-red">
              <i class="icon-dot c-bg-red c-square"></i>
            </div>
            <div class="row">
              <div class="col-md-6 c-font-uppercase c-font-bold">Deuda Neta / UAFIDA:</div>
              <div class="col-md-6 c-right c-font-uppercase c-font-bold">XXX Millones</div>
            </div>
            <div class="c-content-divider c-divider-sm c-left c-bg-red">
              <i class="icon-dot c-bg-red c-square"></i>
            </div>

          </div>

        </div>
      </div>
    </div>
    <!-- END: CONTENT/MISC/ABOUT-3 -->
    <!-- BEGIN: CONTENT/BLOG/RECENT-POSTS -->
    <div class="c-content-box c-size-md c-bg-grey-1">
      <div class="container">
        <!-- Begin: Testimonals 1 component -->
        <div class="c-content-blog-post-card-1-slider" data-slider="owl" data-items="3" data-auto-play="8000">
          <!-- Begin: Title 1 component -->
          <div class="c-content-title-1">
            <h3 class="c-center c-font-uppercase c-font-bold">Documentos Destacados</h3>

            <div class="c-line-center c-theme-bg"></div>
          </div>
          <!-- End-->
          <!-- Begin: Owlcarousel -->
          <div class="owl-carousel owl-theme c-theme">
            <div class="item">
              <div class="c-content-blog-post-card-1 c-option-2">
                <div class="c-media c-content-overlay">
                  <div class="c-overlay-wrapper">
                    <div class="c-overlay-content">
                      <a target="_blank" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesTrimestrales/Teleconferencias/2015-4T15-CC.mp4">
                        <i class="icon-link"></i>
                      </a>
                      <!--<a href="/assets/cadu/images/content/post1.jpg" data-lightbox="fancybox" data-fancybox-group="gallery">-->
                      <!--<i class="icon-magnifier"></i>-->
                      <!--</a>-->
                    </div>
                  </div>
                  <img class="c-overlay-object img-responsive" src="/assets/cadu/images/content/destacado1.jpg" alt=""></div>
                <div class="c-body">
                  <div class="c-title c-font-uppercase c-font-bold">
                    <a href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesTrimestrales/Teleconferencias/2015-4T15-CC.mp4">Teleconferencia
                      1T16</a>
                  </div>
                  <div class="c-author">
                    <!--<a href="#">-->
                    <!--<span class="c-font-uppercase">Mary Jane</span>-->
                    <!--</a> on-->
                    <span class="c-font-uppercase">Feb 2016</span>
                  </div>
                  <!--<div class="c-panel">-->
                  <!--<ul class="c-tags c-theme-ul-bg">-->
                  <!--<li>ux</li>-->
                  <!--<li>web</li>-->
                  <!--<li>events</li>-->
                  <!--</ul>-->
                  <!--<div class="c-comments">-->
                  <!--<a href="#">-->
                  <!--<i class="icon-speech"></i> 30 comments</a>-->
                  <!--</div>-->
                  <!--</div>-->
                  <!--<p> Lorem ipsum dolor sit amet, dolor adipisicing elit. Nulla nemo ad sapiente officia amet. </p>-->
                </div>
              </div>
            </div>
            <div class="item">
              <div class="c-content-blog-post-card-1 c-option-2">
                <div class="c-media c-content-overlay">
                  <div class="c-overlay-wrapper">
                    <div class="c-overlay-content">
                      <a target="_blank" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesTrimestrales/Informes/2015-4T15.pdf">
                        <i class="icon-link"></i>
                      </a>
                      <!--<a href="/assets/cadu/images/content/post2.jpg" data-lightbox="fancybox" data-fancybox-group="gallery">-->
                      <!--<i class="icon-magnifier"></i>-->
                      <!--</a>-->
                    </div>
                  </div>
                  <img class="c-overlay-object img-responsive" src="/assets/cadu/images/content/destacado2.jpg" alt=""></div>
                <div class="c-body">
                  <div class="c-title c-font-uppercase c-font-bold">
                    <a target="_blank" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesTrimestrales/Informes/2015-4T15.pdf">Informe
                      1T16</a>
                  </div>
                  <div class="c-author">
                    <!--<a href="#">-->
                    <!--<span class="c-font-uppercase">Mary Jane</span>-->
                    <!--</a> on-->
                    <span class="c-font-uppercase">Feb 2016</span>
                  </div>
                  <!--<div class="c-panel">-->
                  <!--<ul class="c-tags c-theme-ul-bg">-->
                  <!--<li>design</li>-->
                  <!--<li>art</li>-->
                  <!--<li>trends</li>-->
                  <!--</ul>-->
                  <!--<div class="c-comments">-->
                  <!--<a href="#">-->
                  <!--<i class="icon-speech"></i> 18 comments</a>-->
                  <!--</div>-->
                  <!--</div>-->
                  <!--<p> Lorem ipsum dolor sit amet, dolor adipisicing elit. Nulla nemo ad sapiente officia amet. </p>-->
                </div>
              </div>
            </div>
            <div class="item">
              <div class="c-content-blog-post-card-1 c-option-2">
                <div class="c-media c-content-overlay">
                  <div class="c-overlay-wrapper">
                    <div class="c-overlay-content">
                      <a target="_blank" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesTrimestrales/InformesBMV/2012-4T15-bmv.pdf">
                        <i class="icon-link"></i>
                      </a>
                      <!--<a href="/assets/cadu/images/content/post2.jpg" data-lightbox="fancybox" data-fancybox-group="gallery">-->
                      <!--<i class="icon-magnifier"></i>-->
                      <!--</a>-->
                    </div>
                  </div>
                  <img class="c-overlay-object img-responsive" src="/assets/cadu/images/content/destacado3.jpg" alt=""></div>
                <div class="c-body">
                  <div class="c-title c-font-uppercase c-font-bold">
                    <a target="_blank" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesTrimestrales/InformesBMV/2012-4T15-bmv.pdf">Reporte
                      BMV 1T16</a>
                  </div>
                  <div class="c-author">
                    <!--<a href="#">-->
                    <!--<span class="c-font-uppercase">Mary Jane</span>-->
                    <!--</a> on-->
                    <span class="c-font-uppercase">Feb 2016</span>
                  </div>
                  <!--<div class="c-panel">-->
                  <!--<ul class="c-tags c-theme-ul-bg">-->
                  <!--<li>Mobile</li>-->
                  <!--<li>web</li>-->
                  <!--<li>ux</li>-->
                  <!--</ul>-->
                  <!--<div class="c-comments">-->
                  <!--<a href="#">-->
                  <!--<i class="icon-speech"></i> 25 comments</a>-->
                  <!--</div>-->
                  <!--</div>-->
                  <!--<p> Lorem ipsum dolor sit amet, dolor adipisicing elit. Nulla nemo ad sapiente officia amet. </p>-->
                </div>
              </div>
            </div>
            <div class="item">
              <div class="c-content-blog-post-card-1 c-option-2">
                <div class="c-media c-content-overlay">
                  <div class="c-overlay-wrapper">
                    <div class="c-overlay-content">
                      <a target="_blank" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesTrimestrales/Presentaciones/2015-1T15-presentacion.pdf">
                        <i class="icon-link"></i>
                      </a>
                      <!--<a href="/assets/cadu/images/content/post3.jpg" data-lightbox="fancybox" data-fancybox-group="gallery">-->
                      <!--<i class="icon-magnifier"></i>-->
                      <!--</a>-->
                    </div>
                  </div>
                  <img class="c-overlay-object img-responsive" src="/assets/cadu/images/content/destacado1.jpg" alt=""></div>
                <div class="c-body">
                  <div class="c-title c-font-uppercase c-font-bold">
                    <a target="_blank" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesTrimestrales/Presentaciones/2015-1T15-presentacion.pdf">Informe
                      4T15</a>
                  </div>
                  <div class="c-author">
                    <!--<a href="#">-->
                    <!--<span class="c-font-uppercase">Mary Jane</span>-->
                    <!--</a> on-->
                    <span class="c-font-uppercase">Feb 2016</span>
                  </div>
                  <!--<div class="c-panel">-->
                  <!--<ul class="c-tags c-theme-ul-bg">-->
                  <!--<li>HTML</li>-->
                  <!--<li>CSS</li>-->
                  <!--<li>web</li>-->
                  <!--</ul>-->
                  <!--<div class="c-comments">-->
                  <!--<a href="#">-->
                  <!--<i class="icon-speech"></i> 34 comments</a>-->
                  <!--</div>-->
                  <!--</div>-->
                  <!--<p> Lorem ipsum dolor sit amet, dolor adipisicing elit. Nulla nemo ad sapiente officia amet. </p>-->
                </div>
              </div>
            </div>
            <div class="item">
              <div class="c-content-blog-post-card-1 c-option-2">
                <div class="c-media c-content-overlay">
                  <div class="c-overlay-wrapper">
                    <div class="c-overlay-content">
                      <a target="_blank" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesAnuales/2015-Anual.pdf">
                        <i class="icon-link"></i>
                      </a>
                      <!--<a href="/assets/cadu/images/content/post1.jpg" data-lightbox="fancybox" data-fancybox-group="gallery">-->
                      <!--<i class="icon-magnifier"></i>-->
                      <!--</a>-->
                    </div>
                  </div>
                  <img class="c-overlay-object img-responsive" src="/assets/cadu/images/content/destacado2.jpg" alt=""></div>
                <div class="c-body">
                  <div class="c-title c-font-uppercase c-font-bold">
                    <a target="_blank" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesAnuales/2015-Anual.pdf">Reporte
                      Anual 2015</a>
                  </div>
                  <div class="c-author">
                    <!--<a href="#">-->
                    <!--<span class="c-font-uppercase">Mary Jane</span>-->
                    <!--</a> on-->
                    <span class="c-font-uppercase">Feb 2016</span>
                  </div>
                  <!--<div class="c-panel">-->
                  <!--<ul class="c-tags c-theme-ul-bg">-->
                  <!--<li>chrome</li>-->
                  <!--<li>firefox</li>-->
                  <!--<li>ie</li>-->
                  <!--</ul>-->
                  <!--<div class="c-comments">-->
                  <!--<a href="#">-->
                  <!--<i class="icon-speech"></i> 28 comments</a>-->
                  <!--</div>-->
                  <!--</div>-->
                  <!--<p> Lorem ipsum dolor sit amet, dolor adipisicing elit. Nulla nemo ad sapiente officia amet. </p>-->
                </div>
              </div>
            </div>
          </div>
          <!-- End-->
        </div>
        <!-- End-->
      </div>
    </div>
    <!-- END: CONTENT/BLOG/RECENT-POSTS -->
    <!-- BEGIN: CONTENT/PRODUCTS/PRODUCT-1 -->
    <div class="c-content-box c-size-md c-bg-white c-no-bottom-padding espacio30">
      <div class="container">
        <div class="c-content-product-1 c-opt-1">
          <div class="c-content-title-1">
            <h3 class="c-center c-font-uppercase c-font-bold">Racional de inversión</h3>

            <div class="c-line-center"></div>
          </div>
          <div class="row">
            <div class="col-md-4 wow animate slideInUp">
              <div class="c-media">
                <img src="/assets/cadu/images/content/modelo360.jpg" alt=""/></div>
            </div>
            <div class="col-md-8">
              <div class="c-body">
                <ul class="c-row">

                  <li class="wow animate fadeInUp">
                    <h4>Experiencia</h4>

                    <p>Nuestros directivos promedian 15 años en el sector y 9 en la Compañía </p>
                  </li>
                  <li class="wow animate fadeInUp">
                    <h4>Integración</h4>

                    <p>Cubrimos 100% del proceso de desarrollo; de la adquisición de terrenos a la comercialización de vivienda</p>
                  </li>
                </ul>
                <ul class="c-row">
                <li class="wow animate fadeInUp">
                  <h4>Coyuntura</h4>

                  <p>Recuperación del crédito hipotecario bancario e impulso gubernamental a vivienda de mayor calidad</p>
                </li>
                <li class="wow animate fadeInUp">
                  <h4>Flexibilidad</h4>

                  <p>Estructura ligera adaptable a desarrollos para diferentes segmentos (Interés Social y Medio-Residencial)</p>
                </li>
              </ul>
                <ul class="c-row">
                  <li class="wow animate fadeInUp">
                    <h4>Control</h4>

                    <p>Procesos de vanguardia en planeación, monitoreo y generación de información clave para toma de decisiones</p>
                  </li>
                  <li class="wow animate fadeInUp">
                    <h4>Consolidación</h4>

                    <p>Contamos con sólidas economías de escala y alcance en mercados con alta demanda potencial desatendida</p>
                  </li>
                </ul>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- END: PAGE CONTENT -->
  </div>
  <!-- END: PAGE CONTAINER -->
  <!-- BEGIN: LAYOUT/FOOTERS/FOOTER-7 -->
  <%= erb :"global/bloques/footer2" %>
  <!-- END: LAYOUT/FOOTERS/FOOTER-7 -->
  <!-- BEGIN: LAYOUT/FOOTERS/GO2TOP -->
  <%= erb :"global/bloques/go2top" %>
  <!-- END: LAYOUT/FOOTERS/GO2TOP -->
  <!-- BEGIN: LAYOUT/BASE/BOTTOM -->
  <!-- BEGIN: CORE PLUGINS -->
  <%= erb :"global/bloques/javascript" %>
  <!-- END: PAGE SCRIPTS -->
  <!-- END: LAYOUT/BASE/BOTTOM -->
</body>

</html>
